[2012-01-02 21:09] kimchy opened #2 "S3 blob storage gateway: deleting an index named x destroys data for any index with name beginning with x"

[2012-01-02 21:10] #2 closed, assigned to nobody

[2012-03-02 22:50] cwensel opened #4 "java.lang.NoSuchMethodError with 0.19.0"
this is showing up in the logs, may just need a recompile and push to mvn.

Error injecting constructor, java.lang.NoSuchMethodError: org.elasticsearch.common.util.concurrent.EsExecutors.newScalingExecutorService(IIJLjava/util/concurrent/TimeUnit;Ljava/util/concurrent/ThreadFactory;)Ljava/util/concurrent/ThreadPoolExecutor;
  at org.elasticsearch.gateway.s3.S3Gateway.<init>(Unknown Source)
  while

[2012-03-03 21:21] kimchy opened #5 "Upgrade to AWS SDK 1.3.3"

[2012-03-03 21:22] #5 closed, assigned to nobody

[2012-03-04 19:47] #4 closed, assigned to nobody

[2012-03-09 17:22] holdenk opened #7 "Tempory S3 failure can block launching"
I had a host fail to come up after the S3 pull-down failed. I could add retry logic inside of readBlob in AbstractS3BlobContainer or I could add retry logic inside of ES its self. Any preference?

[2012-03-10 01:51] phillro opened #8 "Migrated to 0.19, installed cloud-aws but EC2 discovery not found."
The cloud-aws plugin is installed:
[2012-03-10 01:44:23,709][INFO ][plugins                  ] [Tundra] loaded [], sites [bigdesk, river-twitter, mapper-attachments, cloud-aws, head]

Startup output:
INFO   | jvm 1    | 2012/03/10 01:44:23 | {0.19.0}: Initialization Failed ...
INFO   | jvm 1    | 2012/03/10 01:44:23 | - NoClassSettingsException[Failed to load class setting [discovery.type] with va

[2012-05-31 18:38] pulkitsinghal opened #10 "Deletes may not be honored by the S3 cloud backend"
When deleting an index from ES using the HEAD plugin, I noticed the following log statement:

[code]

Upon some research I found this link:

[code]

Based on that thread, the problem seems to have been resolved from AWS's end so I was wondering if fixing this for the cloud-aws plugin is as simple as working the aws's SDK update into the latest build?

[2012-06-01 09:36] #10 closed, assigned to nobody

[2012-06-18 21:37] ejain opened #11 "Optional credentials with latest AWS SDK"
With the latest AWS SDK, credentials (access_key, secret_key) no longer need to be passed to the API but can be associated with EC2 instances [1].

[1] http://aws.typepad.com/aws/2012/06/iam-roles-for-ec2-instances-simplified-secure-access-to-aws-service-apis-from-ec2.html

[2012-06-20 08:29] #11 closed, assigned to nobody

[2012-06-20 14:54] edudar opened #12 "Cross-region discovery"
In addition to cross-availability-zone discovery within a particular region it would be really useful to implement cross-region discovery so that developers/ops can build truly distributed search index.

For example, `discovery.ec2` can be prepended to region name so setting will be `discovery.ec2.us-east`. And all available options will go further as it's now.

[2012-08-02 20:25] abshkd opened #13 "Big warning?"
I think there is supposed to be a big warning that using this plugin on an already running elasticsearch install will wipe out all data. Not to mention my wildcard queries do not work since i installed this plugin. using ES 1.9

also everytime i restart ES now i loose all data again.

[2012-09-07 03:31] shaneiseminger opened #15 "Snapshot failures"
It seems that if we run our index building process, things go fine. But if we've made changes and need to reindex, we started noticing ES filling the logs with lots of snapshot failures. It turns out that we were deleting and immediately recreating the index "too fast", and it seems that maybe S3 runs slower than ElasticSearch expects. It seems to fail to create certain files for certain shards.

[2012-10-24 17:27] philwhln opened #16 "Install not working. Failed to install elasticsearch/elasticsearch-cloud-aws/1.9.0, reason: failed to download"
/usr/share/elasticsearch/bin/plugin -install elasticsearch/elasticsearch-cloud-aws
-> Installing elasticsearch/elasticsearch-cloud-aws...
Trying https://github.com/downloads/elasticsearch/elasticsearch-cloud-aws/elasticsearch-cloud-aws-0.19.11.zip...
Trying https://github.com/elasticsearch/elasticsearch-cloud-aws/zipball/v0.19.11...
Trying https://github.com/elasticsearch/elasticsearch-cloud-aws/z

[2012-10-24 17:53] #16 closed, assigned to nobody

[2013-03-01 20:33] #15 closed, assigned to nobody

[2013-03-01 20:33] #13 closed, assigned to nobody

[2013-03-01 20:38] #7 closed, assigned to nobody

[2013-03-07 10:49] alexmc6 opened #19 "S3 storage documentation"
Please can you clarify in the documentation whether the S3 storage is deprecated or not. I see that using Remote Gateways is deprecated - but I don't yet understand whether a Local Gateway can work with S3 storage - presumably one file/directory for each node, not one file/directory for each cluster.

Thanks

[2013-03-12 14:32] digitalrinaldo opened #20 "Anyone tried with 0.90.0.Beta1"
I have a config in elasticsearch.yml and it is going to my nodes in my account turned trace on but I am not getting any discovery.ec2 indications in the log

I tried to set one as master and the other as false.

[2013-03-25 10:45] jupiter opened #21 "Tags for versions after 1.4.0"
[code]

Looks like the tags are missing from the repo.  Either update instructions or add the relevant tags to the repo.

[2013-03-25 11:41] #21 closed, assigned to nobody

[2013-03-26 19:48] eldilibra opened #22 "Did this plugin move?"
Running `bin/plugin -install elasticsearch/elasticsearch-cloud-aws/1.11.0` results in:

[code]

If I hit those urls in a browser, one is a 'Not found', and one is a github 404 page.

[2013-05-31 07:15] #22 closed, assigned to nobody

[2013-05-31 07:17] #20 closed, assigned to dadoonet

[2013-05-31 07:17] #8 closed, assigned to nobody

[2013-05-31 07:19] #19 closed, assigned to nobody

[2013-05-31 07:31] #12 closed, assigned to nobody

[2013-05-31 07:35] dadoonet opened #27 "Update to Elasticsearch 0.90.1"
Works also with Elasticsearch 0.90.0

[2013-05-31 07:53] #27 closed, assigned to dadoonet

[2013-06-06 05:48] amir20 opened #28 "Cluster in us-west-2a"
I apoligize if this is not the place to post this. I have no other idea how to debug. I am trying to deploy two nodes in `us-west-2a`. I have followed the guidlines and have the following config.

[code]

I obtained access_key and secret_key by going to IAM section of AWS and clicking grant all accesses. See below for screenshot.

![screen shot 2013-06-05 at 10 45 35 pm](https://f.cloud.github.com

[2013-06-06 06:05] #28 closed, assigned to nobody

[2013-08-05 10:32] Crystark opened #29 "Old common-codecs version in use"
Hi,

We're using elasticsearch-cloud-aws and it seems to conflict with our own plugin because of `commons-codec`

`com.amazonaws/aws-java-sdk` pulls version 1.3 which supports neither `org.apache.commons.codec.binary.StringUtils` nor `org.apache.commons.codec.binary.Base64.encodeBase64URLSafeString(byte[])`

Your version of httpclient should pull version 1.4 which is compatible with those two func

[2013-08-09 07:03] dadoonet opened #31 "Update to Elasticsearch 0.90.3"
Issue reported in https://groups.google.com/d/msg/elasticsearch/bpdetIvIg5M/cMAUGwhRVf0J

No problem with elasticsearch 0.90.2 and the cloud-aws 1.12.0 plugin (other than the usual node discovery flakiness), but I'm unable to get elasticsearch 0.90.3 to start:

Initialization Failed ...

[code]

Do I need to wait for a new version of cloud-aws, or is there some other problem here?

My /etc/elastic

[2013-08-09 07:30] dadoonet opened #32 "Update to AWS Java SDK 1.5.3"

[2013-08-09 07:37] #29 closed, assigned to dadoonet

[2013-08-09 07:37] #31 closed, assigned to dadoonet

[2013-08-09 07:37] #32 closed, assigned to dadoonet

[2013-08-09 15:09] brandonhilkert opened #33 "Startup fails after installing plugin"
I added the plugin and can see it being loaded here:

[code]

I didn't add our access_keys and everything b/c the README said we didn't need to with the latest version.

The log has a bunch of lines like this:

[code]

If I remove:

[code]

The es process starts up just fine. Am I missing something? I can't seem to find an relevant errors for why the process wouldn't be starting.

[2013-08-09 17:58] #33 closed, assigned to dadoonet

[2013-08-22 20:21] andrewgross opened #34 "Old Releases"
Can a release for 1.10.0 be created?  I believe that is the latest version of the plugin that will work with elasticsearch `0.20.6`, which is the version tied to logstash `1.1.13`.

[2013-08-23 07:53] #34 closed, assigned to dadoonet

[2013-10-08 00:56] mjward opened #36 "Startup failing with ec2 discovery for ES 90.4 / 90.5"
very similar issue to #33

elasticsearch.yml

[code]

If I remove the ec2 discovery section, elasticsearch starts fine.

Otherwise, the log inits with

[code]

Then will repetitively spit out the following

[code]

Affects the following ES version and plugin combination

ES 90.5
Plugin 1.15.0

ES 90.4
Plugin 1.15.0

ES 90.3
Plugin 1.14.0

Similar to #33 if I remove ec2 discovery section, it loads

[2013-10-08 02:25] #36 closed, assigned to nobody

[2013-11-13 10:42] nicktgr15 opened #40 "minimum_master_nodes parameter"
Hello,

Is it possible to define the minimum_master_nodes parameter (discovery.zen.minimum_master_nodes) while using the cloud plugin for discovery or this parameter is available only when zen is used for discovery?

Regards,
Nick

[2013-11-13 13:05] #40 closed, assigned to imotov

[2013-12-10 01:57] patrickshan opened #42 "Will the latest v1.16.0 work with Elasticsearch 0.90.7?"
Hi there,

I am wondering if the current stable version of elasticsearch-cloud-aws plugin can work with Elasticsearch v0.90.7?

Because I found on the front page there is only ES v0.90.4 listed there.

Does anyone know about this ?

Thanks

[2013-12-10 06:51] #42 closed, assigned to nobody

[2013-12-18 18:06] Crystark opened #44 "Old httpclient version in use"
Hi,

We're using elasticsearch-cloud-aws and it seems to conflict with our own plugin because of `org.apache.httpcomponents/httpclient`

You're forcing version 4.1.1 and we're using 4.3.2. As a result, some classes that we use are missing.

We've managed to make this work by removing the jars of httpclient that your plugin loads so that it uses ours and it seems to work but it's not the kind of ha

[2014-01-13 13:31] dadoonet opened #45 "Update to elasticsearch 1.0.0.RC1"

[2014-01-13 13:43] dadoonet opened #46 "Move tests to elasticsearch test framework"

[2014-01-13 13:45] #46 closed, assigned to dadoonet

[2014-01-13 13:48] #45 closed, assigned to dadoonet

[2014-01-23 09:09] apatrida opened #48 "The dependency on Elasticsearch should be in provided and not compile"
Please change the ElasticSearch dependency to provided (and maybe testCompile) instead of compile and runtime.

Why?  If you include the plugin in embedded ElasticSearch, and you exclude anything from the ElasticSearch dependency, it is undone by this dependency also including ElasticSearch.  Therefore you have to tune both, when really this plugin only needs it as provided (since it runs with Ela

[2014-01-27 15:28] dadoonet opened #49 "Support group id in addition to group names"
Based on issue #43, we want to support both notations:
- group name first
- group id if it does not work with group name

[2014-01-30 13:12] tiwilliam opened #51 "java.lang.IllegalStateException when using 0.90.10 with 1.16.0"
I've tried various version of `elasticsearch-cloud-aws` but all end up with the same exception.

I'm using `openjdk-6-jre` version `6b27-1.12.6-1~deb6u1` on Debian 6.0.8. Removing `discovery.type: ec2` will let me boot Elasticsearch.

Any clue what's causing this? I'll dig some more on my end.

/etc/elasticsearch/elasticsearch.yml:

[code]

/var/log/elasticsearch/com.log:

[code]

[2014-02-03 13:35] #51 closed, assigned to nobody

[2014-02-06 19:43] girlprogrammer opened #53 "Initialization fails with ClassNotFoundException[com.amazonaws.services.s3.AmazonS3] with local gateway"
I'm using elasticsearch 0.90.10, elasticsearch-cloud-aws plugin 1.16.0

Upon starting elasticsearch, initialization fails with the following log.  I am _not_ using the S3 gateway.

[code]

Relevant settings in the elasticsearch.yml include:

[code]

Adding the following line does not help.

[code]

Can anyone suggest any solution or workaround?  Thank you!

[2014-02-21 11:40] mtekel-state opened #54 "region setting from snapshot ignored"
Hi,

when I set my region to `eu-west-1` in `elasticsearch.yml` and then create repository, e.g.

[code]

Then when I try to do backup/restore of a snapshot, plugin still goes to `bucket.s3-eu-west1.amazonaws.com` - it then gets `301 redirect` and it returns error to user. So two problems/bugs here:
1. If you get 301, just follow the redirect, don't fail
2. Do honor the region setting from the sna

[2014-02-25 15:40] beiske opened #55 "Repository specific credentials"
In order to allow our customers to snapshot to and from private buckets it would be preferable if one could specify the credentials for the bucket when defining a repository. After a short glance at the code it looks doable by extending AwsS3Service to support multiple clients, one for each combination of region and credentials needed. This should make it possible to solve issue #54 as well.

Unle

[2014-02-26 20:04] #53 closed, assigned to nobody

[2014-03-09 10:16] dadoonet opened #57 "Update to elasticsearch 1.0.0"

[2014-03-09 10:17] dadoonet opened #58 "Add plugin release semi-automatic script"

[2014-03-09 10:18] dadoonet opened #59 "Add plugin version in es-plugin.properties"
With https://github.com/elasticsearch/elasticsearch/issues/2784, we can now add plugin version in `es-plugin.properties` file.

It will only be used with elasticsearch 1.0.0 and upper. No need to push it in 1.x branch.

[2014-03-13 22:08] dadoonet opened #60 "Update to elasticsearch 1.1.0 / Lucene 4.7.0"

[2014-03-14 21:33] irothschild opened #61 "Classpath problem and NoSuchMethodError"
With ES 1.0.1 (my own compile which works fine without the cloud-aws plugin) and cloud-aws 2.0.0.RC1, when I installed with bin/plugin and run ES I get:

[code]

I tried moving the cloud-aws jars to lib/cloud-aws, adding that to my classpath, and just having a es-plugin.properties in plugins/cloud-aws. That starts up but then I get:

[code]

I have the configuration set as in the example but I onl

[2014-03-15 03:02] #61 closed, assigned to nobody

[2014-03-17 08:41] #59 closed, assigned to dadoonet

[2014-03-17 08:44] #57 closed, assigned to dadoonet

[2014-03-17 09:30] #49 closed, assigned to dadoonet

[2014-03-17 09:36] #48 closed, assigned to dadoonet

[2014-03-17 12:07] #58 closed, assigned to dadoonet

[2014-03-17 17:08] #55 closed, assigned to dadoonet

[2014-03-17 18:09] dadoonet opened #62 "Update to AWS SDK 1.7.3"

[2014-03-17 18:12] #62 closed, assigned to dadoonet

[2014-03-17 18:20] #44 closed, assigned to dadoonet

[2014-03-18 18:57] ghost974 opened #63 "Multiple instances on the same server in race-condition"
Hi, as asked here https://groups.google.com/forum/#!topic/elasticsearch/ZZsBNHOm8og I'm opening an issue here.

I have ES 0.90.10, I couldn't test with the latest release, I honestly don't know if maybe it was fixed since.

On the same server, I have a master/data instance of ES with the EC2 plugin and a second non-master/no-data one.

When the master instance is started first, and the non-master

[2014-03-18 19:30] #63 closed, assigned to nobody

[2014-03-18 19:33] ghost974 opened #64 "Starting a non-master, non-data instance first breaks cluster discovery"
Hello,

I have ES 0.90.10, I couldn't test with the latest release, I honestly don't know if maybe it was fixed since.

On the same server, I have a master/data instance of ES and a second non-master. ( node.master: false )

When the master instance is started first, and the non-master afterwards, both are in the same configured cluster.

If I start the non-master first, it stops working.

I also

[2014-03-19 12:28] #64 closed, assigned to nobody

[2014-03-19 18:40] mrjefftang opened #65 "Use instance metadata instead of external AWS API endpoint"
The discovery mechanism requires an external API endpoint (ec2.us-east-1.amazonaws.com) call to gather information.  This requires the security group to allow outbound access TCP/80 access to AWS's external resources.

It would be great if the discovery could use the instance metadata to gather information instead which doesn't require any outbound access. (http://169.254.169.254/latest/meta-data/

[2014-03-19 21:07] dhaworth opened #66 "Plugin installation failed for 2.0.0-SNAPSHOT"
Hi,

I'm trying to install the plugin for an ES 1.0 install using the 2.0.0-SNAPSHOT as directed in the readme, but it's failing to install. Here's the entirety of the output I received:

[code]

Thanks in advance for your thoughts on the matter.

[2014-03-19 21:13] #66 closed, assigned to nobody

[2014-03-24 21:52] #65 closed, assigned to nobody

[2014-03-26 14:50] devony opened #67 "Cannot initialize on ES 1.1.0"
I am getting the following error initializing the latest RC1 plugin on ES 1.1.0. This works in ES 1.0.1 and also when no cloud-aws config is set.

[2014-03-26 14:46:07,372][ERROR][bootstrap                ] {1.1.0}: Initialization Failed ...
1) NoSuchMethodError[org.elasticsearch.discovery.zen.ZenDiscovery.<init>(Lorg/elasticsearch/common/settings/Settings;Lorg/elasticsearch/cluster/ClusterName;Lo

[2014-03-26 15:17] #67 closed, assigned to nobody

[2014-03-26 17:37] #60 closed, assigned to dadoonet

[2014-03-26 17:54] #54 closed, assigned to imotov

[2014-03-31 07:23] nkvoll opened #68 "Unable to read metadata from gateway if snapshot is created"
See https://gist.github.com/nkvoll/219b706990e7287bf8d0 for full stack traces.

The issue seem to be that during initialization of the `S3Gateway`, the `readMetaData` of `MetaData` uses `SnapshotMetaData` to parse a field called `snapshots`. Its `fromXContent` method simply raises an `UnsupportedOperationException`, which causes Elasticsearch to exit (at https://github.com/elasticsearch/elasticsea

[2014-03-31 20:36] #68 closed, assigned to nobody

[2014-04-01 19:42] jbrook opened #69 "Attempting to get AWS discovery working with logstash ES output"
I have an existing 0.90.2 cluster with logstash elasticsearch outputs connecting to it using cloud-aws and it works fine. Now I am trying to build a new environment with ES 1.1.0 and cloud-aws 2.10. I have had to add a lot of jars to the logstash class path (all ES lib jars, and all the cloud-aws jars). I am seeing the following exception:

[code]

Here is my class path:

[code]

[2014-04-02 04:40] #69 closed, assigned to nobody

[2014-04-11 15:43] ghost974 opened #71 "Logstash 1.4 + cloud-aws 2.1.0 + elasticsearch 1.1"
I used to copy elasticsearch.yml in /usr/local/bin/logstash along with cloud-aws directory and it was working fine with logstash 1.3

Now with 1.4, I copied cloud-aws in /opt/logstash/vendor/ and I checked in the logs that it's properly loaded, but the yml file is not. I tried to put it a bit everywhere but no luck.

Is this plugin supported with the last version of logstash ?

[2014-04-14 14:25] #71 closed, assigned to nobody

[2014-04-15 21:08] robottaway opened #72 "Bad Snapshot Repo Example"
When I use the example to create a snapshot repo I get an AWS exception that the name in the example is bad:

[code]

Obviously it's an example but making it have a valid name would be a +.

I would recommend 'my_backet_name' -> 'my-bucket-name'

[2014-04-15 23:31] #72 closed, assigned to imotov

[2014-04-17 16:33] FestivalBobcats opened #73 "InvalidLocationConstraint when registering snapshot repository in us-east-1"
This appears to work with any of the other regions, so I'm not sure what's up.  I've seen in the S3 docs that us-east-1 doesn't require a location constraint as it's the default, but it looks like that's taken care of here:  https://github.com/elasticsearch/elasticsearch-cloud-aws/blob/master/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java#L91-L95

[code]

[code]

[2014-04-18 03:01] ejain opened #74 "cloud-aws 2.1.0 doesn't support elasticsearch 1.1.1"
The cloud-aws 2.1.0 plugin seems to work fine with elasticsearch 1.1.0, but with 1.1.1 I get this error on startup:

[code]

[2014-04-18 09:02] #74 closed, assigned to dadoonet

[2014-04-18 09:08] dadoonet opened #75 "Remove S3 gateway"
In elasticsearch core code, we removed Gateways (see https://github.com/elasticsearch/elasticsearch/issues/5422).

We need now to remove S3 gateway from aws plugin.

[2014-04-18 09:15] #75 closed, assigned to dadoonet

[2014-04-18 10:08] #73 closed, assigned to nobody

[2014-04-22 16:03] bodgit opened #76 "Using "_ec2:publicDns_" for network.publish_host doesn't seem to work properly"
I'm trying to attach a remote (potentially non-EC2) Tribe node to an EC2 cluster. I raised this on the mailing list but the thread died after a bit of back and forth so I figured I would raise this here as I would still like to get this fixed.

I've created two nodes in EC2 EU region with the following configuration which is as small as possible to illustrate the problem:

[code]

I'm using the pu

[2014-04-23 14:27] GlenSmithPraxis opened #77 "Update README about SNAPSHOT vs released versions"
The current README calls to install 2.0.0.RC1. It would be useful to refer to the latest - v2.1.1 (or make some mention to check releases)

[2014-04-23 18:02] wilkes opened #78 "Add Server Side Encryption support for S3 repository"
For legal reasons, we need to store our ES backups in S3 using server side encryption.  We've created a forked repo with a working implementation and a test.

https://github.com/Cicayda/elasticsearch-cloud-aws

[2014-04-29 19:36] dadoonet opened #79 "Update to elasticsearch 1.2.0"

[2014-04-29 19:50] #79 closed, assigned to dadoonet

[2014-05-05 14:52] inkel opened #80 "Required permissions for snapshot repositories creation"
I'm using the same credentials I use with the `s3cmd` tool to upload, download and delete backups on S3, but when I try to create a snapshot or list all of them, I'm getting this error using the Ruby gem:

[code]

Elasticsearch logs show the following:

[code]

Any help will be greatly appreciated.

[2014-05-08 12:01] #80 closed, assigned to nobody

[2014-05-09 17:22] GlenSmithPraxis opened #83 "S3 Repo documentation"
"The S3 repositories are using the same credentials as the rest of the S3 services provided by this plugin (discovery and gateway). They can be configured the following way:"

This misleads the reader into thinking that discovery is an S3-based implementation. A better statement might be

"The S3 repositories are using the same credentials as the rest of the AWS services provided by this plugin (d

[2014-05-14 16:29] matthewbarr opened #85 "Use IAM roles for access to the AWS credentials"
Might be nice to use  [EC2 IAM roles](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html)
for access to the AWS credentials.  It might even work already, but otherwise could be fairly easy to implement.

[2014-05-22 20:28] msonnabaum opened #86 "Wrong exception thrown when snapshot doesn't exist"
My test code uses the "fs" snapshot repository type, and I rescue Elasticsearch::Transport::Transport::Errors::NotFound when a snapshot doesn't exist. I ran the same code with the s3 backend, and got a Elasticsearch::Transport::Transport::Errors::InternalServerError instead:

[code]

Since the code amazon is returning is 404, I'm assuming this is a bug?

[2014-05-27 14:44] #83 closed, assigned to dadoonet

[2014-05-28 16:12] imotov opened #87 "Switch to shared thread pool for snapshot operations"

[2014-05-28 19:25] dadoonet opened #89 "Update to elasticsearch 1.3.0"

[2014-05-28 19:46] #87 closed, assigned to imotov

[2014-05-28 19:46] #89 closed, assigned to dadoonet

[2014-05-28 20:50] #78 closed, assigned to dadoonet

[2014-06-10 12:52] krzaczek opened #91 "Allow AWS compatible cloud services"
Hi,

Could You add the config option to change aws s3 base url so it can be used to interact with s3/ec2 api compatible services like http://e24cloud.com/ which offers a compatible api .. and for me is a lot faster (s3 upload/download) because it's closer then AWS node in Ireland.

[code]

or

[code]

And then if it is present just pass it to aws sdk
http://docs.aws.amazon.com/AWSJavaSDK/latest/ja

[2014-06-18 09:29] jurgenweber opened #93 "disabling remote api request"
[code]

how can I disable it?

[2014-06-18 09:42] #93 closed, assigned to nobody

[2014-06-18 10:46] jurgenweber opened #94 "respository s3"
I am trying to get s3 repository configuration working and I must admit I am finding the documentation hard to follow, firstly my configuration file I have added:

[code]

what else do I need? Looking in the debug log nothing is happening and my bucket is empty (yes I created the bucket)

[2014-06-18 23:49] imotov opened #95 "Large snapshots can fail with socket reset or socket timeout exception"
While trying to snapshot large number of shards, some shards might fail with the following exception:

IndexShardSnapshotFailedException[[index_name][1] Failed to perform snapshot (index files)]; nested: AmazonS3Exception[Status Code: 400, AWS Service: Amazon S3, AWS Request ID: 1234567890ABCDEF, AWS Error Code: RequestTimeout, AWS Error Message: Your socket connection to the server was not read f

[2014-06-19 13:52] #94 closed, assigned to nobody

[2014-06-19 17:30] #85 closed, assigned to dadoonet

[2014-06-19 17:37] #77 closed, assigned to dadoonet

[2014-06-20 13:03] dadoonet opened #97 "Update to AWS SDK 1.7.13"
AWS released a version 1.7.13 of their SDK: https://github.com/aws/aws-sdk-java/tree/1.7.13

We still using 1.7.3 ATM.

[2014-06-20 13:23] #97 closed, assigned to dadoonet

[2014-06-20 13:33] #91 closed, assigned to dadoonet

[2014-06-21 14:49] #95 closed, assigned to imotov

[2014-06-23 17:48] AFriemann opened #98 "Creating snapshot fails for repository in eu-west-1c"
I created a snapshot repository in our S3 bucket (located in eu-west-1c) and set up elasticsearch to use the repository with

[code]

Unfortunately snapshot creation fails:

[code]

An IAM role is set according to the readme, elasticsearch version used was 1.2.1 and aws cloud plugin version 2.1.1.

The error message reminds me of an old [jenkins bug](https://issues.jenkins-ci.org/browse/JENKINS-18

[2014-06-28 04:58] ejain opened #99 "EC2 discovery doesn't work when master not running on port 9300"
I've had a long-running, hard to reproduce problem where an elasticsearch cluster would sometimes get into a state where new nodes would no longer see existing nodes. The only solution would be to first shut down all nodes, then bring them back up.

It now looks like this happens when I run both a data node and a client-only node on each machine, and the (master) data node ends up bound to port 93

[2014-06-30 20:09] wpc opened #100 "version 1.9.0 failed to installed"
Found this morning:

sudo ./bin/plugin -install elasticsearch/elasticsearch-cloud-aws/1.9.0
-> Installing elasticsearch/elasticsearch-cloud-aws/1.9.0...
Trying https://github.com/downloads/elasticsearch/elasticsearch-cloud-aws/elasticsearch-cloud-aws-1.9.0.zip...
Trying https://github.com/elasticsearch/elasticsearch-cloud-aws/zipball/v1.9.0...
Failed to install elasticsearch/elasticsearch-cloud-aw

[2014-07-01 14:44] #98 closed, assigned to imotov

[2014-07-08 16:03] bitsofinfo opened #101 "Allow https communication per ec2 or s3 service"
Its not really documented anywhere, but I discovered this playing w/ the s3 snapshot functionality.

By default all communication w/ AWS services done by this plugin is sent the clear over "http", overriding amazons own default of https: http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/ClientConfiguration.html#getProtocol()
- src/main/java/org/elasticsearch/cloud/aws/AwsEc2Servic

[2014-07-17 18:02] ryanvanderpol opened #103 "How do I configure multiple clusters?"
I'm attempting to deploy several different clusters.  I got the first one up and running just fine, but when the second one comes up, none of the ES servers seem to discover each other and they don't join the cluster.

What settings do I need to alter for each new cluster to get them to join the appropriate cluster?

[2014-07-18 15:21] PavloPoliakov opened #104 "trying to setup the EC2 autodiscovery on 2 EC2 servers"
Hi there,

The simple question, but I want to hear your view on the issue:

Here is my elasticsearch config:

[code]

The version of my elasticsearch is 1.2.2 and the version of plugin is `elasticsearch/elasticsearch-cloud-aws/2.2.0`

However, when I run the ES on both servers - both of them considering themselves and master. And they don't want to build the cluster.

If you have any thoughts abou

[2014-07-22 07:13] #104 closed, assigned to nobody

[2014-07-22 07:19] PavloPoliakov opened #105 "Incorrect discovery.ec2.host_type: "public_ip" processing"
Hi there,

Below is my elasticsearch.yml :

[code]

Even with this configuration, elasticsearch tries to access the found servers over the public dns (something like ec2-[public_ip].eu-west-1.compute.amazonaws.com) , which, on the low level was represented by private ip still.

So even when I had stated the host_type = public_ip, the ES (or the plugin) was trying to connect the server using the pr

[2014-07-22 07:23] #105 closed, assigned to nobody

[2014-07-28 09:13] dadoonet opened #106 "Simplify documentation"

[2014-07-30 09:08] dadoonet opened #107 "Tests: update to Lucene 4.9.0"

[2014-07-30 11:41] #107 closed, assigned to dadoonet

[2014-08-04 21:57] #99 closed, assigned to dadoonet

[2014-08-05 09:36] #106 closed, assigned to dadoonet

[2014-08-05 09:45] #86 closed, assigned to dadoonet

[2014-08-05 10:19] dadoonet opened #109 "Switch to https communication for Amazon APIs by default"
We should use `https` by default instead of `http` for communication between elasticsearch and AWS API.

Note that it can be modified in case of trouble and fallback to the older setting using `cloud.aws.protocol: http`

[2014-08-05 10:31] #101 closed, assigned to dadoonet

[2014-08-05 10:31] #109 closed, assigned to dadoonet

[2014-08-05 10:37] #100 closed, assigned to nobody

[2014-08-05 10:41] #103 closed, assigned to nobody

[2014-08-19 19:17] Vehyla opened #110 "Document proxy settings"
We have set http_proxy,https_proxy,HTTP_PROXY,HTTPS_PROXY,no_proxy, and NO_PROXY in /etc/profile.d/proxy.sh.  Which appears to work fine if I do a "aws ec2 describe-instances"  However whenever I start elasticsearch with the cloud-aws plugin it does not seem to work:
[2014-08-19 19:15:29,229][DEBUG][discovery.ec2            ] [kmj-us-es-aggregator-48-203.log.ourdomain.com] Full exception:
com.amaz

[2014-08-25 01:18] jlintz opened #111 "setting non-master and non-data node causes discovery to fail"
I _think_ this is from the aws discovery plugin.  I've got 5 nodes currently, 3 data nodes and 2 non-data.  I wanted to ensure the data nodes were never master and have the 2 non-data nodes act as the masters.  When I set `master: false` on the data nodes and restart, the nodes cannot rejoin a cluster , just see `no known master node, scheduling a retry`, over and over again in the logs.

[code]

[2014-08-25 01:36] #111 closed, assigned to nobody

[2014-09-03 13:16] apepper opened #112 "Missing "Recommended EC2 Permissions""
In `README.md` there is a section "Recommended S3 Permissions".

Please add another "Recommended EC2 Permissions" with all needed EC2 permissions for ec2 discovery.

[2014-09-04 04:36] dadoonet opened #114 "Update to elasticsearch 1.4.0"

[2014-09-04 04:40] #114 closed, assigned to dadoonet

[2014-09-04 04:44] #112 closed, assigned to dadoonet

[2014-09-05 14:20] dadoonet opened #115 "ZenDiscovery constructor needs ElectMasterService instance"
Introduced in https://github.com/elasticsearch/elasticsearch/pull/7336 (elasticsearch 1.4 and 2.0), we need to change Ec2Discovery constructor.

[2014-09-05 14:23] #115 closed, assigned to dadoonet

[2014-09-05 14:28] pulkitjalan opened #116 "ec2 discovery in ec2 classic (not vpc)"
I am having an issue setting up my elasticsearch cluster in ec2 classic. I have tested in vpc and it works fine, however I need to set it up in ec2 classic, using the classic loadbalancers etc.

Im upto a point now that in my aws security group I have opened all ports to 0.0.0.0/0 and the IAM role I have assigned to it is also a power user role. So by this, I am assuming there would be no problems

[2014-09-09 07:04] #116 closed, assigned to nobody

[2014-09-12 08:25] dadoonet opened #117 "BlobContainer interface changed in elasticsearch 1.4.0"
AWS plugin needs an update because of this change https://github.com/elasticsearch/elasticsearch/pull/7551

[2014-09-24 12:28] bobrik opened #119 "s3 endpoint per snapshot repository"
You can't have more that one s3-compatible endpoint now

[2014-10-08 12:52] olivermt opened #121 "Build is broken"
I cant get it to compile neither on ubuntu or on osx.
Looks like a missing dependency.

https://gist.githubusercontent.com/oteren/8a1a35b93bfc6fd0d95e/raw/7dd6528d3f26c88c1f142f8bf6a02a53c44c98ac/gistfile1.txt

Full trace from Maven there.

[2014-10-08 15:05] #121 closed, assigned to nobody

[2014-10-15 00:55] meconlin opened #123 "s3 snapshot - partially works but then auth failures occurs"
when I attempt to create a snapshot using an s3 bucket.
I get the following auth errors:

[code]

Notice the snapshots is done.. line?

In my s3 bucket, the structures to hold the snapshot are created, but no data is in the index folder:

[code]

The snapshot file is 33kb, while my index is 28MB.

My custom policy on this bucket for this user/role on aws:

[code]

[2014-10-15 17:14] Swedeski opened #124 "Allow the setting of S3ClientOptions on AmazonS3Client object"
I am trying to use my own S3 repository to store snapshots and have an SSL enabled endpoint that does not support virtual hosting.  I need to use path style access to access the endpoint.

Ultimately I'd like to define a setting in the elasticsearch.yml file that indicates that it should use the "path style access" option.  Perhaps something like: **cloud.aws.s3clientoption.path_style_access: true

[2014-10-16 08:49] #117 closed, assigned to tlrx

[2014-10-17 08:18] kmakowski opened #125 "S3 backup hanging for big indexes"
I am able to do a S3 snapshot for small index (tested with 4GB) but with big indexes (50 GB) it hangs in the middle and i see no progress in number of processed files and number of processed bytes. Other weird thing is that I see number of processed bytes bigger than number of total bytes.

[2014-10-17 09:49] #123 closed, assigned to nobody

[2014-10-20 08:00] tlrx opened #127 "Update README to fix Amazon IAM policy version number"
See #120

[2014-10-20 08:03] #127 closed, assigned to nobody

[2014-10-20 08:12] #110 closed, assigned to tlrx

[2014-10-29 01:02] DanHoerst opened #129 "Could not find a suitable constructor"
Hi I'm getting the following error when attempting to use this plugin on Elasticsearch 1.3.4 ran on Ubuntu 14.04 on EC2:

[code]

I've installed Elasticsearch via the official Elasticsearch chef recipe with default options and have confirmed that it works on it's own.

I've attempted to install the plugin both by the chef recipe and manually via:

[code]

And then I add the following config values

[2014-10-29 07:19] #129 closed, assigned to nobody

[2014-10-31 05:17] johtani opened #130 "Update to Lucene 4.10.2"

[2014-10-31 05:30] johtani opened #131 "Tests: upgrade randomizedtesting-runner to 2.1.10"
Due to this [change](https://github.com/elasticsearch/elasticsearch/commit/b23e6e0593978bf46b21e232b2e306c162af4aa3), we need to fix our pom.xml for elasticsearch 1.4.0 and above

[2014-10-31 05:37] #130 closed, assigned to johtani

[2014-10-31 05:37] #131 closed, assigned to johtani

[2014-10-31 14:26] iamjochem opened #132 "Question: use with OpenStack Objectstore (and it's S3 api)?"
hi there,

I was wondering whether anyone knows if this plugin is capable of working with OpenStack Object Storage when it's [configured with the emulation of the S3 REST API](http://docs.openstack.org/havana/config-reference/content/configuring-openstack-object-storage-with-s3_api.html)?

[2014-11-04 09:00] tlrx opened #133 "Fix constructors of ZenDiscovery's sub classes"
The commit elasticsearch/elasticsearch@f1f50ac4231d0595758761aee811b938818ba7fe on Elasticsearch adds DynamicSettings to the ZenDiscovery class.

[2014-11-04 09:02] #133 closed, assigned to nobody

[2014-11-09 19:48] FestivalBobcats opened #136 "Add support for eu-central-1 region"
I was going to submit a pull request once I had simply updated the code to derive EC2/S3 endpoints for eu-central-1, but I ran into some issues.

I received a bad request error once I tried to use the eu-central-1 endpoint for repository creation, and then I remembered AWS requires a new signing process for this region: http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html

So, I r

[2014-11-20 00:26] geekpete opened #140 "Add retry count for snapshots and restores for more resiliency"
Not sure if this might be implemented independently in the plugin as separate to the core snapshot API in elasticsearch, but would be a handy feature for very large indices.

Initially logged here: https://github.com/elasticsearch/elasticsearch/issues/5745

[code]

[2014-11-21 06:30] dadoonet opened #141 "Update to elasticsearch 1.4.0 GA"

[2014-11-21 06:34] #141 closed, assigned to dadoonet

[2014-11-21 09:45] #132 closed, assigned to nobody

[2014-11-21 23:22] thomasst opened #142 "Subsequent snapshot commands fail after an AWS error"
If Amazon throws an error (e.g. because of insufficient permissions), it is not possible to issue any other snapshot commands until the elasticsearch instance is restarted. Here's an example:
[code]

This is using Elasticsearch 1.4.0.

[2014-11-22 21:34] bleskes opened #143 "AwsEc2UnicastHostsProvider should use version.minimumCompatibilityVersion()"
The AwsEc2UnicastHostsProvider creates DiscoveryNodes that are used as an initial seed for unicast based discovery. At the moment it uses Version.CURRENT (see [1]) for those DiscoveryNode object, which confuses the backwards compatibility layer to think this nodes are of the latest version. This causes new nodes to fail to join old nodes as the ping serialization goes wrong. Instead we should use

[2014-11-23 15:43] ranrub opened #144 "Upgrade from 1.1 to 1.4 fails with aws discovery"
Hi

I'm trying to upgrade my cluster from 1.1.2 to 1.4. We are using the aws-cloud plugin with tag-based discovery. I stopped shard reallocation, upgraded a single node to 1.4 (using the apt repo), started the node. It failed with this error:

[2014-11-23 14:22:49,248][ERROR][bootstrap                ] {1.4.0}: Initialization Failed ...
1) NoSuchMethodError[org.elasticsearch.discovery.zen.ZenDisco

[2014-11-24 14:13] #144 closed, assigned to nobody

[2014-11-24 15:35] #143 closed, assigned to nobody

[2014-11-24 15:35] #140 closed, assigned to dadoonet

[2014-11-24 16:20] #119 closed, assigned to nobody

[2014-11-25 15:58] dweinstein opened #146 "alias with filters not respected for snapshots"
When specifying an index alias for snapshot that uses filters it seems that the filters are ignored and the entire underlying indices are backed up.

[2014-11-25 18:45] #146 closed, assigned to nobody

[2014-11-26 10:03] tlrx opened #147 "Allow per-repository endpoints"
Add the ability to define endpoint and protocol on a per-repository basis. This way, users can define multiple S3 repository that store data on different S3 providers.

[code]

Related to #128

[2014-11-26 11:03] #147 closed, assigned to nobody

[2014-11-26 15:46] tlrx opened #148 "Update AWS SDK to 1.9.8"

[2014-11-26 17:12] #136 closed, assigned to tlrx

[2014-11-26 17:12] #148 closed, assigned to tlrx

[2014-11-27 14:52] asileon opened #149 "repeated "Read timed out" errors when recovering a large sized shards from S3 repository"
When restoring a large size index (150GB splitted to 5 shards) from S3, "Read timed out" errors are raised from S3 input stream repeatedly.

This issue is somewhat of a duplicates of https://github.com/elasticsearch/elasticsearch/issues/8280,
which led me to test the recovery process using elasticsearch 1.4.0 & AWS plugin 2.4.1.
The test has failed using a large range of 'max_retries' values.

err

[2014-11-27 18:11] bobrik opened #150 "Removing snapshot is very request-intensive"
Looking at logs, it seems that number of requests to figure out what could be deleted and what not is calculated as `number of shards` x `number of snapshots`. In our case with daily indices for a year of data and 37 snapshots this is roughly 75000 requests. In another month it would be 150k.

If you start making daily shapshots with 2000 shards and 5 new shards every day, at the end of the year y

[2014-12-02 07:19] styygeli opened #151 "s3 repos for snapshot fail after update to ES 1.4.1 and plugin 2.4.1"
After upgrading to from 1.2.x to 1.4.1 today and upgrading the plugin to match, I noticed that I couldn't browse my s3 snapshot repo any more. Local FS snapshots do work at the moment, but for example when trying to create a s3 snapshot repo I get this at the stack trace:

[2014-12-02 16:14:54,056][WARN ][repositories             ] [XXXXX] failed to create repository [s3][XXXXX]
org.elasticsearch.

[2014-12-02 08:57] #151 closed, assigned to nobody

[2014-12-02 12:48] #125 closed, assigned to nobody

[2014-12-15 16:05] #150 closed, assigned to imotov

[2014-12-17 09:26] dadoonet opened #152 "Implement BlobContainer.move()"
In elasticsearch master (2.0) a new method `move(String sourceBlobName, String targetBlobName)` has been added to `BlobContainer`.

[2014-12-17 14:48] ferhatsb opened #153 "S3 restore cancellation issue"
Hi,

Noticed today if you delete an index which is still being restored (offered way to cancel an index restore) BlobContainer still keeps reading incoming stream.

If you have very large index, you can not start another restore operation before waiting it to complete even result will be simply nothing.

I experience this with S3 but probably it is a case for all other restore options.

[2014-12-18 02:30] ppf2 opened #154 "Very large buffer_size can cause young gc issues"
Have a use case where the buffer_size setting is set to 500Mb using aws-plugin 2.4.0.  This appears to cause frequent and long young gcs with the young gen filling up quickly (and in turn cause other performance issues in the cluster).  Would be nice to add a resiliency limit and/or specify a warning/disclaimer in the documentation.

[code]

[2014-12-18 12:46] armin-bauer opened #155 "Add compatibility to CEPH"
I'm currently trying to get the elastic search cloud-aws plugin to run with CEPH, through their s3-compatible api.

unfortunatly while doing a snapshot, i'm getting an error:

curl -XPUT 'http://es-node-1:9200/_snapshot/s3_backup' -d '{"type": "s3", "settings": { "bucket": "backup-test", "endpoint": "<ceph-base-url>", "protocol":"https", "access_key": "<access key>", "secret_key": "<secret key>" }

[2014-12-29 05:39] psu1025 opened #156 "Add China region for s3 and ec2"
please add china region.

china region name is cn-north-1.

[2014-12-29 18:02] cregev opened #157 "Repeated "Read timed out" errors when recovering a large sized shards from S3 repository"
When im trying  to restore  a large size index (750GB splitted to 6 shards) from S3, "Read timed out" errors are raised , and the restore process does not finish the operation it looks like nothing is happening ...

Details about our Elasticsearch Cluster:

Es Version 1.4.2
Aws Cloud Plugin - 2.4.1

[2014-12-29 00:51:20,706][WARN ][indices.cluster          ] [es-test-hist01] [2014_11][1] failed to

[2014-12-30 16:21] imotov opened #158 "Extend Snapshot/Restore support for non-AWS but S3-compatible API"
Moved from https://github.com/elasticsearch/elasticsearch/issues/5839

[2015-01-02 21:17] #152 closed

[2015-01-02 22:22] dadoonet commented on #124
I added a PR for this. See #159.

[2015-01-05 15:11] tlrx commented on #158
@ppat since https://github.com/elasticsearch/elasticsearch-cloud-aws/issues/147 you can specify specific and non-AWS S3 repository endpoints. I think it should do the job, what do you think?

[2015-01-06 01:22] ppat commented on #158
That looks like it might work but I have moved on since I created this ticket originally.

[2015-01-06 07:20] tlrx commented on #158
@ppat ok, thanks. I close this issue, feel free to reopen it if necessary.

[2015-01-06 07:20] #158 closed

[2015-01-12 10:36] dobariya opened #161 "Elastic search 1.4.2 data path issue"
I am using UNC path to store the data eg: \\pc1\data.
This works perfect in version 1.3.4 but after I upgrade it to 1.3.7 or 1.4.2 it started give me error
Below is the error log

[2015-01-12 16:03:33,087][INFO ][node                     ] [master1] version[1.3.7], pid[7068], build[3042293/2014-12-16T13:59:32Z]
[2015-01-12 16:03:33,087][INFO ][node                     ] [master1] initializing ...

[2015-01-12 10:39] tlrx commented on #161
Thanks for reporting @dobariya

You should report this on elasticsearch github repository  https://github.com/elasticsearch/elasticsearch/issues because this repository concerns the cloud-aws plugin.

[2015-01-12 10:39] #161 closed

[2015-01-13 01:58] jloomis opened #162 "Snapshot creation fails with xml parse exception on AmazonS3Client.listObjects"
I'm running es 1.4.1 with cloud plugin 2.4.1. I'm using IAM with a policy following the one in the readme that uses a prefix. When I try to create a snapshot I get:
[code]
The full stacktrace on a given data node looks like:
[code]
Any ideas on why this would happen?  Seems like an s3 sdk issue but if that were the case I'd assume others would've run into it and am failing to find anything.  In th

[2015-01-13 19:55] clintongormley opened #163 "error configuring snapshot repository in S3 US Standard region"
According to AWS S3 documentation http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETlocation.html the empty string is used for create buckets in the US classic region. But configuring an empty region in the snapshot raises this error in elasticsearch:

org.elasticsearch.ElasticsearchIllegalArgumentException: No automatic endpoint could be derived from region []

us-east-1 can't be used b

[2015-01-13 21:02] dadoonet commented on #163
Indeed. In documentation we wrote that if no region is provided we fallback to default US region.
Wondering if we should really support `region: ""`. Why providing the region in that case?

If we do that, we should also support it for ec2 regions.

@tlrx WDYT?

[2015-01-15 08:04] anandchida opened #164 "Incorrect plugin install command in the README"
The plugin install command mentioned in the README doc is

bin/plugin install elasticsearch/elasticsearch-cloud-aws/2.4.1

which fails with error
Error while installing plugin, reason: ElasticsearchIllegalArgumentException: Illegal plugin name: elasticsearch

the correct command should be

bin/plugin -install elasticsearch/cloud-aws/2.­4.1

This is on ES 1.4.2

[2015-01-15 08:26] dadoonet commented on #164
I just tested it on elasticsearch 1.4.2 and got:

[code]

[2015-01-15 08:26] #164 closed

[2015-01-16 21:16] jloomis commented on #162
D'oh, so in case anyone else does the same thing...this happens if you mess up your repository settings and have "bucket": "mybucket/foo" rather than "bucket": "mybucket", "base_path": "foo".

[2015-01-16 21:16] #162 closed

[2015-01-19 19:46] deltamualpha opened #165 "Issues with eu-central-1"
The documentation says it supports it, but when I try and start up a new node in Frankfurt with ES 1.4.2 and cloud-aws 2.4.1 I recieve the following error in the logs:

`1) ElasticsearchIllegalArgumentException[No automatic endpoint could be derived from region [eu-central-1]]2)`

Any guesses what's up with that?

[2015-01-19 19:52] deltamualpha commented on #165
Aaaaand I just realized [that version's docs](https://github.com/elasticsearch/elasticsearch-cloud-aws/tree/v2.4.1/#version-241-for-elasticsearch-14) *don't* say it supports `eu-central-1`.

Is the release of the next version that does dependent on when the next major version of Elasticsearch is released?

[2015-01-24 09:52] zhaojin0 opened #166 "Issue with region cn-north-1 s3 endpoint"
Region cn-north-1
S3 endpoint is 's3.cn-north-1.amazonaws.com.cn', not 's3.cn-north-1.amazonaws.com'.
Thanks.

[2015-01-28 02:53] amos-stan opened #167 "Allow "verify": "false" attribute"
While setting up a test node to read from an S3 bucket with snapshots on it, I hit a problem in the setup because ES was trying to write to the bucket.

This is a production backup bucket which I wanted to restore into a test node for investigation. I gave the test node restricted read-only access to S3 to avoid any accidental data loss.

Here is a Google Group thread where this was discussed: htt

[2015-01-30 17:04] dadoonet commented on #167
Hi @amos-stan

We double checked and actually there is an issue in the elasticsearch core documentation about this.
This `verify` option is available whatever the storage you are using.

But it's a URL attribute. So you should do something like:

[code]

Thanks for reporting this and for the tests BTW.

Closing.

[2015-01-30 17:04] #167 closed

[2015-02-04 10:59] GlenRSmith commented on #165
I just ran into this as well. It would be nice if the added regions got added.

[2015-02-09 16:51] dadoonet opened #170 "Update to Lucene 4.10.3"

[2015-02-09 16:53] #170 closed

[2015-02-10 02:09] malpani opened #171 "Snapshot S3Repository issue with eu-west-1 endpoint"
When region is null for snapshots, org.elasticsearch.repositories.s3.S3Repository tries to set the region as "EU" for eu-west-1 but the InternalS3AwsService does not recognize "EU" as a valid region

[2015-02-10 16:08] ankon commented on #171
It seems that PR #169 is more logical here, as it avoids mixing well-known names of AWS with some newly introduced names like "EU"?

[2015-02-10 18:30] malpani commented on #171
Either ways, considering InternalS3AwsService as a standalone library to access S3, guess it still makes sense to have this fix in place for completeness as EU is a valid region name - http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

[2015-02-13 11:11] rparkhunovsky commented on #76
The issue is pretty actual for cross-region cloud environments and appears a blocker for usage as a feature.

[2015-02-17 17:59] ankon opened #174 "S3 Snapshots become very slow with more existing snapshots"
I did some tests with the S3 snapshot facility, to see how well they will work in a production environment. Initially things looked nice on our data set (about 500 shards, all quite small). However, after only about 2 days of hourly snapshots the time it took to complete a snapshot shot up from initially ~160s to ~300s, and then after 7 days the time was at 1700s.

While this might be improvable b

[2015-02-18 14:55] ssuprun commented on #76
I'm not sure if my change will fix this issue, but any way it looks like bug.
Could somebody review it - https://github.com/elasticsearch/elasticsearch-cloud-aws/pull/175

[2015-02-19 06:34] dadoonet opened #176 "[Doc] add maven documentation when using with a Java Node Client"

[2015-02-19 15:30] dadoonet commented on #171
I agree with @ankon here and #169 will make it.

About region names vs. region ids, AWS plugin supports region ids actually. You can not set a region as `US West (Oregon)` AFAIK but as `us-west-2`.
`EU` seems to be valid for `LocationConstraint` parameter we don't use.

Available names (ids) are:

* `us-east-1
* `us-west-2
* `us-west-1`
* `eu-west-1`
* `eu-central-1`
* `ap-southeast-1`
* `ap-south

[2015-02-19 15:30] #171 closed

[2015-02-19 15:39] dadoonet commented on #156
@psu1025 I think the patch I wrote a month ago won't work actually.
China is not part of the [S3 regions](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region) but part of [Isolated Regions](http://docs.aws.amazon.com/general/latest/gr/isolated_regions.html).

The patch I wrote uses for S3 `s3-cn-north-1.amazonaws.com` which is wrong because in that case the end point is `s3.cn-north-

[2015-02-20 21:42] paul-e-cooley opened #177 "Separate proxy traffic for ec2 and s3."
We have a specific need to set a proxy at the s3 level separate from ec2. If a proxy goes down for whatever reason, we do not want ec2 traffic blocked since s3 traffic is used only for backups. Currently the plugin supports an all or nothing approach. I've already made a fork of the project and tested our changes.

I'm certain we are not the only ones that need the feature.

[2015-02-20 21:44] dadoonet commented on #177
Going to send a PR?

[2015-02-20 21:51] paul-e-cooley commented on #177
PR sent.

[2015-02-24 09:06] dadoonet opened #179 "Add again force disable multicast"
With update #160, we removed in master branch (for elasticsearch 2.0.0) the fact we were removing multicast when using EC2 discovery. We need to support that again.

[2015-02-26 19:44] nikolay opened #181 "EC2 Autodiscovery not working with OpenJDK 8"
I keep getting the following error: `Exception while retrieving instance list from AWS API: Unable to execute HTTP request: peer not authenticated`

I used the recommended by you IAM role and things worked fine with Elasticsearch v1.4.2 and v2.4.1 of the plugin, but things no longer work for me. I tried overriding IAM and using omnipotent AWS keys - I still get the error regardlessly.

[2015-02-27 14:58] dadoonet opened #182 "Remove component settings from AbstractComponent"
Related to elasticsearch/elasticsearch#9919

[2015-02-27 15:21] dadoonet opened #183 "Remove `cloud.account` and `cloud.key` settings"
`cloud.account` and `cloud.key` settings are not documented as we use `cloud.aws.access_key` and `cloud.aws.secret_key` settings instead.

We can deprecated those settings in `es-1.4` branch and remove them in `master`.

[2015-02-27 15:21] dadoonet commented on #183
@imotov WDYT?

[2015-02-27 15:32] #182 closed

[2015-02-27 15:35] imotov commented on #183
Personally I like `cloud.account` and `cloud.key` more (mostly because they are shorter). But I can see how this can cause some confusion. Not sure.

[2015-02-27 15:39] dadoonet commented on #183
Yeah. If we want to mix within a node azure settings and aws settings (let say backup in two places), I think it's better to prefix setting name.

[2015-02-27 15:43] kimchy commented on #183
we do support both, right? I mean, sure, we can simplify and not provide too many options to configure things and be more explicit around the actual aws settings

[2015-02-27 16:10] dadoonet commented on #183
we do support both today. But the simplest form `cloud.account` is not documented AFAIK.

[2015-02-27 17:51] chrissnell opened #184 "AWS credentials should not be exposed"
[code]

Right there, in plaintext, my S3 credentials.  Yes, I'm using IAM with tightly restricted permissions on a firewalled network but not everyone might be so careful.   I'll bet if I scanned large blocks of AWS/Rackspace/etc, I would turn up a bunch of unrestricted AWS credentials.

This just seems like a bad idea.   Can these be partially obscured?

[2015-02-27 17:57] davidski commented on #184
Agree that obscuring these would be a good idea. Also want to point out if you are using IAM instance roles to provide access to S3, no inclusion of static credentials is required at all. Instance profiles FTW! :)

[2015-02-27 18:46] grantr commented on #149
I encountered this yesterday while restoring a 20TB index with 128 shards from S3. S3 was plenty fast, but frequent timeouts (probably due to saturating our AWS Direct Connect link) caused shard recovery to reset immediately. No shards ever recovered successfully in several hours. We were using ES 1.4.2 and cloud-aws 2.4.1.

[2015-02-27 20:17] nikolay commented on #183
@imotov With AWS, "account" and "access key" are two different things, so, `cloud.account` will be misleading.

[2015-02-27 22:49] nikolay commented on #181
I downgraded to v1.4.2 and it's not working either.

[2015-03-02 02:29] jeffreyji666 opened #185 "Version 2.4.1 cannot work with elasticsearch 1.4.4"
I installed cloud-aws plugin for elasticsearch 1.4.4 on aws cloud ec2, but cannot boot the elasticsearch.

and I got this error:
xxxx:/usr/local/elasticsearch/plugins/cloud-aws$ sudo service elasticsearch start
PID file found in /usr/local/var/run/ip_xxx_compute_internal.pid
Starting Elasticsearch...[2015-03-02 10:22:36,211][INFO ][node                     ] [ip-172-31-4-252.cn-north-1.compute.int

[2015-03-02 05:59] dadoonet commented on #185
Indeed. This region is not defined in 2.4.1 but 2.4.2. See https://github.com/elasticsearch/elasticsearch-cloud-aws/issues/156#issuecomment-75073370

I think it's the cause here but could you paste the full logs?

[2015-03-02 06:55] sukantasaha opened #186 "Index shard got corrupted"
Hi

in all our elasticsearch cluster we use this elasticsearch-cloud-aws plugin to create the snapshots on s3  on a regular basis.

Some times we saw the shard got corrupted for an index in our elasticsearch log.
So we try to restore it from backup and while restoring it from backup again we see the same exception in logs which is follows

[code]

Even if we back to an older snapshot we found the

[2015-03-02 14:19] sukantasaha commented on #186
Guys any update ?

[2015-03-02 17:26] nikolay commented on #181
@dadoonet Any comment? I can provide more details if there's any interest to help solve this.

[2015-03-02 22:40] jondb opened #187 "Client-side S3 encryption for Snapshots"
Hi, I see that the s3 plugin supports server-side-encryption for s3. I'm wondering what it would take to add:

a. a custom function to implement per-file key management for client-side-encryption,
b. a list of keys (use newest key for encryption, try all for decryption to support key rotation) to use with an hmac-based-kdf that can be leveraged to provide a per-file key for client-side-encryption,

[2015-03-03 04:09] jeffreyji666 commented on #185
my cloud-aws version is: 2.4.1.

could you please tell me how to install version 2.4.2? I try to install it by:  cd $ES_HOME; bin/plugin install elasticsearch/elasticsearch-cloud-aws/2.4.2

but I cannot install it successfully.

[2015-03-03 06:10] dadoonet commented on #185
It has not been released yet.
If you need it now, you need to build a SNAPSHOT with maven.

[2015-03-03 06:35] jeffreyji666 commented on #185
I build a 3.0.0-SNAPSHOT edition from the master branch, but got this error:

root@ip-172-31-6-183:~/elasticsearch-1.4.4# bin/elasticsearch
[2015-03-03 14:33:17,774][INFO ][node                     ] [Hector] version[1.4.4], pid[2000], build[c88f77f/2015-02-19T13:05:36Z]
[2015-03-03 14:33:17,775][INFO ][node                     ] [Hector] initializing ...
[2015-03-03 14:33:17,802][INFO ][plugins

[2015-03-03 07:04] dadoonet commented on #185
You need to build it from es-1.4 branch.

[2015-03-03 08:26] dadoonet commented on #181
@nikolay Sorry for the delay. Wondering which JAVA vendor you are using? Any chance you are using OpenJDK instead of Oracle?

[2015-03-03 12:39] jeffreyji666 commented on #185
still doesn't work, I use the unicast to solve the problem.

[2015-03-03 13:56] dadoonet commented on #185
That's why I asked for:

Any chance you can share this?

[2015-03-03 20:43] nikolay commented on #181
@dadoonet OpenJDK 8.

[2015-03-03 21:06] dadoonet commented on #181
Any chance you could test with Oracle JDK?

[2015-03-03 23:28] nikolay commented on #181
Our preferences are OpenJDK > [Zulu](http://www.azulsystems.com/products/zulu) > Oracle JDK, with Oracle's being least desired due to the fact that it's purposely not well-suited for automatic installs. Of course, we can use WebUpd8's PPA, but that's hacky. Let me try though.

[2015-03-04 02:32] jeffreyji666 commented on #185
now 2.4.2-SNAPSHOT is ok, but I got jackson error yesterday, and the error doesn't happen again.

but I still need to use unicast instead of cloud-aws for I use chef to deploy the es cluster, and chef cannot download cloud-aws 2.4.2-SNAPSHOT currently.

[2015-03-04 02:34] rbraley commented on #156
+1 this is blocking us

[2015-03-04 05:55] dadoonet commented on #185
If I understand correctly, we can close this issue as it is fixed in 2.4.2.
Feel free to reopen if it's not the case.

[2015-03-04 05:55] #185 closed

[2015-03-04 05:57] dadoonet commented on #156
Closed by 4c02a017b43539d26964b639a71bf589cba1f72c

[2015-03-04 05:57] #156 closed

[2015-03-04 06:04] dadoonet commented on #181
Yes please. I just like to confirm it is a AWS API issue with OpenJDK as I have read on some websites.
Once confirmed, we can try to see if there is any workaround or if we should mention in docs that the plugin is not compatible with Java version X vendor Y.

[2015-03-04 08:49] jeffreyji666 commented on #185
yep. thank you very much.

[2015-03-04 10:15] dadoonet commented on #187
I think it's a duplicate of #118.

Closing but feel free to reopen or comment in #118.

[2015-03-04 10:15] #187 closed

[2015-03-04 12:36] dadoonet commented on #184
@chrissnell Where did you set your repo settings? In `elasticsearch.yml` or when you create the repository with `PUT _snapshot/repo`?

[2015-03-04 12:42] dadoonet commented on #184
Answering to self:

[code]

It shows credentials. When credentials are defined in `elasticsearch.yml` you can't see them.

[2015-03-04 14:39] dadoonet commented on #184
@imotov Any idea on how to obscur repository settings? I think that plugins can't do it by now. Could we add a method in `BlobStoreRepository` or anywhere else to filter settings? Should we support that?

[2015-03-04 14:42] imotov commented on #184
@dadoonet to do that we need to add the settings filtering to get snapshot request

[2015-03-04 15:58] pires commented on #163
Using ```"region": "us-standard"``` doesn't work as well.

[code]

[2015-03-04 20:45] otisg commented on #186
Thanks for #188 @dadoonet , but why do you think this happens in the first place?  Is it possible that there is a bug in snapshot creation that makes it work with files that are still being modified?

[2015-03-04 21:08] dadoonet commented on #186
@otisg @imotov might know if this could happen. AFAIK, it tries to copy immutable segments so I don't think this could happen.

PR #188 only tries to secure copy over the wire by checking bytes written on both side. But you are right if there is a bug in snapshot creation, this won't fix it.

[2015-03-04 21:10] imotov commented on #186
Which version of elasticsearch was the snapshot created with?

[2015-03-04 21:34] nikolay commented on #181
@dadoonet It was an issue with OpenJDK 8, which doesn't seem to be supported by (at least) v2.4.1. It would be nice if you can address the issue, but post a compatibility note here so that other people don't waste time like I did. Thanks in advance!

[2015-03-04 21:52] dadoonet commented on #181
I also remember that this could happen when time is not synch'ed with NTP.
Could you check that as well please?

If your machine had incorrect time, could you fix it and try again with open JDK ?

[2015-03-05 03:03] nikolay commented on #181
All my machines are in sync and were launched at the same time EC2 instances. My user data already has NTP enabled and updated. Not sure if it's relevant, but this is on Ubuntu 14.10 (and thus OpenJDK 8, which is not available in the latest LTS release).

[2015-03-05 04:44] sukantasaha commented on #186
We are using
es version : elasticsearch 1.4.1
cloud-aws : elasticsearch-cloud-aws-2.4.0

On Thu, Mar 5, 2015 at 2:40 AM, Igor Motov <notifications@github.com> wrote:

[2015-03-05 05:03] imotov commented on #186
@sukantasaha I understand that 1.4.1 is the version that you are currently using. But I am trying to figure out which version of elasticsearch this index was first snapshotted with. You said that you are snapshotting on a regular basis. So, judging from the name, the index was created in June 2014. Is this when you created the first snapshot of this index or was it later on? If this index was firs

[2015-03-05 05:43] sukantasaha commented on #186
This cluster was created on Thu, Jul 2014 with elasticsearch-1.2.1 and may
be we migrated this index .
So we snapshot on regular basis, Later when we updated the es version to
elasticsearch-1.4.1-SNAPSHOT
we created a new repository and there we created the snapshot.

On Thu, Mar 5, 2015 at 10:33 AM, Igor Motov <notifications@github.com>
wrote:

[2015-03-05 08:54] drags commented on #69
In case anyone else finds this issue (one of 2 results for the error string `A binding to org.elasticsearch.cloud.aws.AwsS3Service was already configured at`) this is actually referring to having multiple versions of the cloud-aws plugin in your es.path.plugins directory. HTH

[2015-03-05 14:34] BrandesEric opened #189 "Shards intermittently failing when snapshotting to S3"
Hey guys, we've been using the AWS ES plugin for some time with no issues.  In the past few months we've started seeing random shard failures when doing snapshots.  The problem appears to be getting worse.  Here is the error we see:

[code]

We're snapshotting ~70 shards and maybe 4-10 experience this issue during a snapshot.  Any ideas what's going on?

[2015-03-07 02:56] imotov commented on #186
@sukantasaha what did you mean by "may be we migrated this index"? Could it be possible that this index was originally created with older version of elasticsearch? I am just wondering if you are hitting elasticsearch/elasticsearch#9140. Would it be possible for you as an experiment to restore this index using a newer version of elasticsearch (v1.4.3 or higher)?

[2015-03-07 18:50] BrandesEric commented on #189
I've been investigating further, and no matter what I do, it always tries to use `bucket.s3.amazon.com` instead of `s3.amazon.com/bucket`.  Is there any way for me to specify the latter url structure?  GIven this issue seems DNS related, I'm grasping at straws but want to try the non-vanity domain name.

[2015-03-07 19:36] dadoonet commented on #189
I guess you could use "cloud.aws.s3.endpoint"?

Would this work for you?

[2015-03-07 19:39] BrandesEric commented on #189
I tried that - and it was still prefixing the bucket name, as a subdomain,
rather than appending it as a url segment.

On Sat, Mar 7, 2015 at 1:36 PM, David Pilato <notifications@github.com>
wrote:

[2015-03-07 19:49] dadoonet commented on #189
I see. In that case bucket name should may be not mandatory So you can set keep it as null but add base_path as the one you expect?

A workaround could be to set endpoint as amazon.com and bucket name as s3 and base_path with your bucket name?

[2015-03-07 20:06] BrandesEric commented on #189
Now we're talking :)  I'm trying one additional DNS tweak but if that
doesn't work I'll give this a try and let you know how it goes!

On Sat, Mar 7, 2015 at 1:49 PM, David Pilato <notifications@github.com>
wrote:

[2015-03-08 00:38] BrandesEric commented on #189
{

    "error": "RemoteTransportException[[Warpath][inet[/10.4.0.5:9300]][cluster:admin/repository/put]];
nested: RepositoryException[[Prod_2015-03-08T00:36:17.4724345+00:00]
failed to create repository]; nested: CreationException[Guice creation
errors:\n\n1) Error injecting constructor,
java.lang.IllegalArgumentException: Bucket name should be between 3
and 63 characters long\n  at
org.elasticsea

[2015-03-08 00:41] BrandesEric commented on #189
Oops, send got clicked before I was done :)

I'm going to try a different region, see if I can get something longer than
3 chars.

On Sat, Mar 7, 2015 at 6:38 PM, Eric Brandes <eric.brandes@gmail.com> wrote:

[2015-03-08 00:52] BrandesEric commented on #189
I give up, nothing I can set seems to change the url to the configuration I
want.  Ah well, have to figure something else out.

On Sat, Mar 7, 2015 at 6:41 PM, Eric Brandes <eric.brandes@gmail.com> wrote:

[2015-03-09 08:29] sukantasaha commented on #186
We did the same test, Launched a new cluster with 1.4.3 version and there
we tried to restore that index only and we saw the same error like index
shard got corrupted

If you want I can do the same again and show you

On Sat, Mar 7, 2015 at 8:26 AM, Igor Motov <notifications@github.com> wrote:

[2015-03-12 05:29] sukantasaha commented on #186
May I know that when S3 plugin has been extended by MD5 checksum and in which version , so that no more problems with snapshot restore because we get to know if snapshot was really successful or not

[2015-03-12 05:40] dadoonet commented on #186
MD5 could be added in 2.4.2, so it's not there yet.

[2015-03-12 05:42] sukantasaha commented on #186
When can we expect ?

[2015-03-12 05:50] dadoonet commented on #186
No ETA yet. And the PR has not been merged.
Which means that if you want to build it yourself you need to checkout branch es-1.4, back port the PR in and build.

[2015-03-13 21:12] #177 closed

[2015-03-15 21:36] eugenp opened #192 "Debug level log activity about missing `site` directory"
I am seeing the following debug level message in my logs (multiple times):
[code]
I am using the latest (2.4.1) version of the plugin and I got no error/warning during installation.
Am I missing something? Or is this a known issue? Thanks.

[2015-03-15 21:40] dadoonet commented on #192
That's perfectly fine. It's a DEBUG message from the plugin manager.

[2015-03-15 21:40] #192 closed

[2015-03-17 09:17] eugenp commented on #192
I fully agree that this is not a major problem. However, even being a small issue - would it make sense to fix it?
The reason I say that is simply that, when you have your logs on DEBUG - this will continue to write that message into the log, continuously, every few seconds. And of course that makes the actual issue you might be trying to debug hard to spot between all that unnecessary logging.
Ag

[2015-03-17 12:06] dadoonet commented on #192
Never saw that It happens so often. IIRC that might happen if you call a _cat API.
Will check this.
If it's the case, we might change level to TRACE.

Whatever, it's an Elasticsearch core concerns and not related to this plugin.

[2015-03-19 15:40] mcbain commented on #165
+1

[2015-03-19 15:45] mcbain commented on #165
IMHO one can set the 'cloud.aws.ec2.endpoint' property

{code}
if (settings.get("cloud.aws.ec2.endpoint") != null) {
            String endpoint = settings.get("cloud.aws.ec2.endpoint");
            logger.debug("using explicit ec2 endpoint [{}]", endpoint);
            client.setEndpoint(endpoint);
        } else if (settings.get("cloud.aws.region") != null) {
{code}

[2015-03-19 19:37] drewr opened #193 "Proliferation of S3ResponseMetadata"
GitHub has been experiencing an accumulation of [`S3ResponseMetadata` objects](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/http/AmazonHttpClient.java#L153).  It appears that they linger long enough to get to old gen but then become unattached.  For example, in one heap dump, there was 2.1gb of them (compared to 23mb reachable objs).

Is there any w

[2015-03-19 19:49] grantr commented on #193
We still see this on our 1.4.2 cluster running cloud-aws 2.4.1.

[2015-03-21 14:02] sukantasaha opened #194 "Deleting snapshots taking for forever"
Sometimes we see that snapshots is in progress state forever and if we try to delete that also takes forever

"snapshots" : [ {
    "snapshot" : "listening-prod2-20150319"
    "state" : "IN_PROGRESS",
    "start_time" : "2015-03-19T10:17:22.916Z",
    "start_time_in_millis" : 1426760242916

Any idea or suggestion ?
What is the best way to delete a snapshot quickly
we are using this curl command fo

[2015-03-24 00:04] nikolay opened #195 "Compatibility with Elasticsearch v1.5"
As v2.4.2 is pretty dated already, and I don't see a v2.5 milestone (but it's what is supposedly compatible with ES v1.5), will a version be available so that we can upgrade ES anytime soon?

[2015-03-24 08:34] mewwts commented on #195
Waiting for this as well :+1:

[2015-03-24 16:32] shreyu86 commented on #195
+1 this is a blocker in upgrading to ES 1.5.0

[2015-03-24 23:46] kimchy commented on #195
hey, we will release a new version first thing tomorrow morning, stay tuned and apologies for the delay

[2015-03-24 23:48] shreyu86 commented on #195
thanks for the update @kimchy :)

[2015-03-25 07:39] mewwts commented on #195
Thanks a bunch @kimchy @dadoonet! :+1:

[2015-03-25 08:52] dadoonet opened #196 "Update to elasticsearch 1.5.0"
Related to #195

[2015-03-25 08:57] #196 closed

[2015-03-25 09:20] dadoonet commented on #142
#128 was merged so we can close this one.

[2015-03-25 09:20] #142 closed

[2015-03-25 10:00] dadoonet commented on #195
Heya

We just released version 2.5.0 for elasticsearch 1.5.0.

Let us know if you have any issue with it by opening new issues in this repo.
Thanks!

[2015-03-25 10:00] #195 closed

[2015-03-25 10:24] noamgal commented on #195
@dadoonet looking good, thanks

[2015-03-25 14:53] uwebartels opened #197 "autodiscovery not working in multi-node single-host installation"
Hiho,

I probably have a quite special installation. I'm running es-1.4.4 cluster on a single machine with
- one node: node0 with the role master only for loadbalancing and split-brain-problem
- two nodes: node1 and node2 with the roles master+data each as the workhorses
When I start node1 first, then all the other nodes I have a complete cluster running with node1 bound to port 9300. The others b

[2015-03-26 17:03] nicwaller opened #198 "Security Group matching should not be case-sensitive"
This plugin uses case-sensitive matching for security groups, but security groups in AWS are not case-sensitive.

https://github.com/elastic/elasticsearch-cloud-aws/blob/es-1.5/src/main/java/org/elasticsearch/discovery/ec2/AwsEc2UnicastHostsProvider.java#L131

[2015-03-26 22:06] sidcarter commented on #186
Is this fix now in es-1.5?

[2015-03-26 22:31] dadoonet commented on #186
No. It's not.

[2015-03-27 19:16] jacobwgillespie commented on #31
For anyone (like me) who is seeing this error, my fix was to update to the correct version (as indicated by the README) - I accidentally updated Elasticsearch to 1.5.0 without updating elasticsearch-cloud-aws.

[2015-03-27 20:56] tlrx commented on #155
@armin-bauer thanks for reporting. Just to be sure: the version 2.4.2 of the plugin is not released, are you using a snapshot release or the version 2.4.1?

This is the first time I saw an error at this place so I think further investigation will be needed. In the meanwhile, can you please tell me if you already succeed to snapshot on CEPH before? Can you please try to snapshot again but with a `b

[2015-03-29 00:05] armin-bauer commented on #155
@tlrx i never managed to backup to ceph due to this error. It occured somewhere in the middle of the backup, so the whole procedure was too flaky for a backup. There were some files storend to ceph but the backup was corrupt and could not be restored.

I used the current Version from 3 months ago as well as oder stuff. Maybe it's worth retrying with the new AWS sdk that was put in a few days ago.

[2015-03-29 11:41] andyHa commented on #155
We tried it with 2.5.0 and got the same results. Privileges are OK as there were some files being created. I gave the base_path a go, but still got the same error. (We never succeeded to perform a snapshot into CEPH, but our own application uses it via the AWS SDK as well without any problems...)

How and where would I configure appropriate logging for the AWS plugin?

[2015-03-29 23:51] jerry4 commented on #99
I already asked in elastic/elasticsearch#7090, but is there any reason that this hasn't been merged in? I'd really like to have the limit_port_count configurable (and don't want to fork this plugin).

[2015-03-30 09:29] tlrx commented on #155
@armin-bauer @andyHa Thanks for your valuable feedback.

I think we need to debug the plugin to see where the problem is. I tried to install CEPH to reproduce the bug but I can't get it work properly. I'll try later if I have time. That would be great if you can enable logging and post the result here (take care of removing sensitive information).

If you want to enable logging for the AWS plugin

[2015-03-30 14:37] corsarof opened #199 "Cannot install plugin 2.4.1"
Hi,

I am getting this exception
[2015-03-30T15:14:45+01:00] FATAL: RuntimeError: ruby_block[Install plugin: elasticsearch/elasticsearch-cloud-aws/2.4.1] (elasticsearch::aws line 35) had an error: RuntimeError: [!] Failed to install plugin

Error executing action `create` on resource 'ruby_block[Install plugin: elasticsearch/elasticsearch-cloud-aws/2.4.1]'
=========================================

[2015-03-30 14:40] frederic-jomedia commented on #185
any idea when 2.4.2 will be out of snapshot ?
Tx

[2015-03-30 21:33] dadoonet commented on #199
Sorry. I have no idea and I'm not sure it's an issue with the plugin itself but more with the way you wrote the cookbook???

May be @karmi or @electrical could have an idea?

Closing for now but feel free to reopen if you guys think it's an issue with the plugin itself.

[2015-03-30 21:33] #199 closed

[2015-03-30 22:15] karmi commented on #199
@corsarof It's not clear what the reason for the expection is from the backtrace, but please open an issue at https://github.com/elastic/cookbook-elasticsearch

[2015-03-31 05:21] jeffreyji666 commented on #185
2.4.2 is good. you can use it.

[2015-03-31 05:53] dadoonet commented on #185
@frederic-jomedia I agree. We need to release 2.4.2.

[2015-03-31 09:48] karmi commented on #199
Moved to elastic/cookbook-elasticsearch#308

[2015-04-01 20:08] rabidscorpio commented on #31
@jacobwgillespie ha, thanks for pointing this out, I did the same thing!

[2015-04-03 14:47] tlrx commented on #149
elasticsearch-cloud-aws 2.4.1 uses AWS SDK version 1.7.13. In AWS SDK v1.8.10.2 a bug causing socket timeouts has been fixed as indicated in [the changelog](https://aws.amazon.com/releasenotes/Java/0082211660780598):

The version 2.5.0 of the plugin uses AWS SDK version 1.9.3, so please let us know if the bug still exist once you upgrade elasticsearch & the plugin to a newer version.

[2015-04-03 14:58] tlrx commented on #193
I had a look at this issue today but I can't reproduce it. There's no way, even in the more recent version of the AWS SDK, to disable the [ResponseMetadataCache](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/util/ResponseMetadataCache.java#L27) use internally by the HTTP client.

After reviewing the code I don't think we keep some object refs around.

[2015-04-03 16:31] dadoonet commented on #149
@tlrx The plan is also to release a new version of AWS for 1.4 containing also this fix.

[2015-04-08 13:53] spencerwi opened #200 "Possible missing dependency: Apache HttpCore 4.3.x"
When upgrading our dependencies, we encountered this error in our stack trace:

[code]

After checking through the pomfile for elasticsearch-cloud-aws, we didn't find any references to a specific version of Apache HTTPCore (so we weren't able to directly identify which version elasticsearch-cloud-aws depends on).

Should this dependency be added to the pomfile?

[2015-04-08 13:54] dadoonet commented on #200
Did you update cloud-aws project as well?

What are your elasticsearch version and aws plugin version in your `pom.xml` file?

[2015-04-08 14:01] spencerwi commented on #200
We are using elasticsearch 1.5.0 and cloud-aws 2.5.0 (per the helpful README in cloud-aws!); we were using these in a previous release as well, but had another dependency that happened to provide HTTPCore 4.3.x as a transitive dependency. When that lib was upgraded, it specified HTTPCore 4.2.5, which appears not to contain the org.apache.http.util.Args class.

So when we were no longer lucky enoug

[2015-04-08 14:17] dadoonet commented on #200
I think I got it. Thanks!

What would happen if you add in your `pom.xml` version 4.3.2 of HTTPCore?
Would this break your code?

[2015-04-08 14:20] jerry4 commented on #200
We downgraded the library that specified an old version and now we are back to pulling in HTTPCore 4.3.3. I suspect 4.3.2 would work just fine since 4.3.3 does.

[2015-04-08 14:25] spencerwi commented on #200
As @jerry4 mentioned, downgrading *only* the lib that "destablized" things worked for us (resulted in Maven fetching HTTPCore 4.3.3). That works for us for now, since the version bump on that lib is noncritical.

Other folks in a similar situation may need to manually specify 4.3.3 (or 4.3.2, if it works just as well) in their pomfiles to avoid the issue. It's not a *great* solution -- manually sp

[2015-04-08 14:26] dadoonet commented on #200
Is the lib you mentioned an internal project or a public one?

If the later, could you give a link to that lib?

I think you can close the issue, right?

[2015-04-08 14:29] spencerwi commented on #200
The lib we mentioned is a public lib: [twilio-java](https://github.com/twilio/twilio-java)

I suppose we *could* close the issue since we found a workaround for the problem in cloud-aws's pomfile, but I would prefer that the issue be resolved. If you'd like, I can submit a PR.

[2015-04-08 14:45] spencerwi commented on #200
Looking at the stack trace, it's possible that this is a missing dep for ElasticSearch rather than cloud-aws.

On that basis, if you guys deem it not the right move, I can close this PR and take the issue over there.

[2015-04-08 14:46] dadoonet commented on #200
Was that the full stack trace?

[2015-04-08 14:48] spencerwi commented on #200
Minus plenty of direct-passthrough catch-and-rethrow from servlet filters, etc (our app is a webapp), yes.

[2015-04-08 14:57] dadoonet commented on #200
My theory here is that `NodeService` tries to create the AWS class instance which fails because AWS SDK can not create one of its classes and throws `java.lang.NoClassDefFoundError: org/apache/http/util/Args`.

[2015-04-10 12:06] tlrx commented on #200
I don't think this is a problem with a missing dependency in elasticsearch or elasticsearch-cloud-aws projects.

elasticsearch 1.5.0 depends on `httpcore` as a transitive dependency for its tests:

[code]

elasticsearch-cloud-aws 2.5.0 depends on `aws-java-sdk-ec2` which depends on `httpcore` as a transitive runtime dependency:
[code]

Those declarations looks OK to me. The problem here is that yo

[2015-04-10 14:03] spencerwi commented on #200
Well, we've workaround the missing (explicitly-versioned, at least) dependency for our use-case, so since there appears to be a great resistance to actually resolving the problem, I'll just close this. I really ought to have foreseen this kind of pushback from the ES team.

[2015-04-10 14:03] #200 closed

[2015-04-10 14:29] clintongormley commented on #200
@spencerwi We can't list every transitive dependency of every dependency that we use.  It would be a huge responsibility maintenance and testing-wise etc and we have to delegate that for the most part to the projects responsible. If the `aws-java-sdk-ec2` pom doesn't list the dependency, it should be fixed there, not worked around in Elasticsearch.

[2015-04-10 14:48] spencerwi commented on #200
@clintongormley And that's a fair point. But if that's the case, all that was necessary was to say "we don't directly depend on this either, the problem is upstream", not

(i.e. "you're just doing things wrong, fix your app.")

[2015-04-10 14:57] kimchy commented on #200
FYI, historically, the aws sdk was pretty bad at listing the dependencies version in its Pom. For example, if you download the zip version from the site for a specific version, and just list the same version in the Pom, you would end up with 2 different http lib versions.

I always found this concerning, so in the Pom I listed the explicit versions that came with the fully packaged zip one. Should

[2015-04-10 16:24] tlrx commented on #200
@spencerwi I'm sorry if my sentence hurt you, it was of course not my goal. I should have explained a bit more and thanksfully @clintongormley did it.

We might list all dependencies but the POM file of the AWS SDK looks quite complete to me in its latest versions. I think this issue is a "Jar Hell" one, and for what I've usually seen the easiest way to solve that is to declare the transitive depe

[2015-04-10 16:28] spencerwi commented on #200
@tlrx Nah, no offense taken, it's cool. The explanation from @clintongormley was helpful because it informed me that the issue lay upstream rather than simple being a "won't-fix" for non-technical reasons. That's all I was pushin' for.

[2015-04-13 13:50] herviou commented on #155
check which version of AWS sdk you are using, downgrade to 1.8.x instead of a 1.9.y. I've had the same issue with ceph that doesn't not implements the v4 signin method. And it fixes my issue.

[2015-04-13 14:22] andyHa commented on #155
@tlrx Can you guys verify that - and is there any reason not to downgrade the dependency to 1.8.x

[2015-04-14 12:21] herviou commented on #155
Hi, guys I've got some good news for you if you want to try this fix it can be very easy :
Before downgrading to 1.8.x try to set the AWS S3 Client with this :
[code]

[2015-04-14 12:24] ankon commented on #174
Outcome of a quick discussion with @bleskes:
1. Being able to do a 1:1 copy from a local snapshot to a S3 snapshot isn't necessarily needed, so the formats could differ.
2. Being able to read "old" snapshots is required.
3. Being able to continue writing "old" snapshots is very much desirable
4. Being able to do an in-place upgrade of a repository to a different storage format is nice-to-have, but

[2015-04-14 12:54] dadoonet commented on #155
That's great news !
I think we should do that using a new option like "signer" so CEPH users could use "S3SignerType".

[2015-04-15 08:58] tlrx commented on #174
@ankon sorry, I just see this issue now... This issue is well known and is not specific to S3. There is an improvement about to be merged #8969 and it is very similar to what you suggested here.

[2015-04-15 11:50] dadoonet commented on #174
@tlrx so should we close the issue here?

[2015-04-15 23:34] grantr commented on #149
Still seeing timeouts with ES 1.5.1 and cloud-aws 2.5.0.

[code]

These are coming in pretty regularly, same as with 1.4.4 and 2.4.1. This is a 20TB index with 128 shards. The restore is ongoing, but so far there have been 4 timeouts and zero recovered shards.

[2015-04-16 21:34] johnrengelman commented on #94
Hey @jurgenweber did you ever figure this out? I'm having the same problem. The repository doesn't ever get created, but I can't find any better documentation.

[2015-04-16 23:55] grantr commented on #149
All the primary shards did eventually recover after about 19 hours. During this time there were 90 socket timeouts.

[2015-04-17 05:42] jurgenweber commented on #94
I abandoned it, this was a while ago. I think I worked out nothing just turns up their but you then have to send curl commands to the esearch instance to take a snapshot, etc. I hope i'm right here.

[2015-04-17 07:31] tlrx commented on #94
@johnrengelman @jurgenweber To use S3 repository, you basically need to:
* install the [elasticsearch-cloud-aws](https://github.com/elastic/elasticsearch-cloud-aws) plugin on every node of the cluster
* add your S3 access keys in the `elasticsearch.yml` file like documented [here](https://github.com/elastic/elasticsearch-cloud-aws#generic-configuration), also on every node
* create a S3 repository

[2015-04-20 07:46] asileon commented on #149
Tested restore with ES 1.5.0 & AWS plugin 2.5.0.
While restoring 1TB index with 10 shards, got 3 read timed out errors but eventually the cluster successfully restored.

[2015-04-20 08:00] tlrx commented on #149
@grantr @asileon thanks a lot for your feedback! I really think that AWS SDK 1.8.10 is better when dealing with those request timeouts. However we are thinking of implementing a way to throttle the number of S3 requests when snapshoting indices. Nothing concrete right now but this is on our plan.

[2015-04-21 08:37] dadoonet commented on #155
Hey guys,

We implemented something in PR #202 and built a SNAPSHOT version for elasticsearch 1.5.x based on that. We would love to have your feedback and confirm that it fixes your issue.

To test it:

Stop your node.

Install new plugin version:

[code]

Then edit your `elasticsearch.yml` file and set:

[code]

Start your node and test again.

And report here! :)

Thanks for your help.

[2015-04-21 17:36] eredding-rmn commented on #165
Something else is up.  When using cloud.aws.ec2.endpoint I still see a problem with auth:

[code]

[2015-04-21 19:00] eredding-rmn commented on #165
Looks like the 2.4.x series is due for a release.  I built a snapshot off of the es-1.4 branch and the plugin worked once installed.  I did this:

[code]

The resulting build is spit out at target/releases/elasticsearch-cloud-aws-2.4.2-SNAPSHOT.zip in your project directory.  Ship that sucker over to your hosts, uninstall 2.4.1, and install the 2.4.2-SNAPSHOT:

[code]

[2015-04-23 04:35] rmuir commented on #193
I submitted a PR for this here: https://github.com/aws/aws-sdk-java/pull/415

[2015-04-23 15:34] pedalair commented on #71
I am trying to implement this using LS1.4.2. I have got the jars in the ES/lib dir, added an elasticsearch.yml file to the /opt/logstash dir.  I added LS_JAVA_OPTS="-Djava.io.tmpdir=${LS_HOME} -Des.config=/opt/logstash/elasticsearch.yml " to the ini file.
In my Logstash config i am just specifying the Clustername, protocol and index.  I have tried with both transport and node protocol yet i still

[2015-04-23 16:00] ghost974 commented on #71
@pedalair , can you confirm you have elasticsearch-cloud-aws-2.1.1.jar in /opt/logstash/vendor/jar/elasticsearch-1.1.1/lib/ ?
/opt/logstash/elasticsearch.yml should be the exact same file used in ES.
The LS_JAVA_OPTS was added in your logstash indexer init (if you split indexer and shipper).
In logstash indexer config, I have:
[code]
I suggest you enable debug and look at the logs, you'll see what

[2015-04-24 10:47] #155 closed

[2015-04-24 12:23] pedalair commented on #71
Thanks for the advice - had the setup as described - i ended up spinning up an ES Client in the same Security Group and discovering that i needed to update my security group port to allow inbound as well as outbound traffic from 9300 as I had Logstash in a seperate SG to my main cluster.

[2015-04-26 19:54] clintongormley commented on #76
@dadoonet with #175 merged, should this be closed? and maybe https://github.com/elastic/elasticsearch/issues/6333 too?

[2015-04-27 06:22] rparkhunovsky commented on #76
Agree for closing #76. But tested the changes with elastic/elasticsearch#6333 - it doesn't resolve the issue anyway.

[2015-04-27 08:32] clintongormley commented on #76
thanks @rparkhunovsky - closing this one

[2015-04-28 09:13] sbi-scireum commented on #155
Setting the signer type to AWS3SignerType doesn't work for me with the newest plugin snapshot (using elasticsearch-cloud-aws-2.5.1-20150427.224854-32 from yesterday).

used setting in elasticsearch.yml: **cloud.aws.signer: AWS3SignerType**
ES version on client and nodes: **1.5.0**
Java version on client and nodes: **1.8.0_40**
aws-java-sdk version on client: **1.9.23**

Getting this error:

	at co

[2015-04-28 21:15] jerry4 commented on #197
I think your issue is similar to #99 (closed without fix)  and elastic/elasticsearch#7090 (still open, but there is a pull request associated). I ended up forking and adding that fix into my own local branch.

Hope this helps (and that the number of ports to scan becomes configurable at some point).

Jerry

[2015-04-29 06:49] uwebartels commented on #197
Hi, Jerry,

good to know that it doesn't work right now.
yesterday coded and tested that in my production environment. not nice,
but our environment does not have need that high availability yet.

Best...
Uwe

Am 28/4/2015 um 23:15 schrieb jerry4:

[2015-04-29 09:17] dadoonet opened #204 "Remove `ElasticsearchIllegalArgumentException` and `ElasticsearchIllegalStateException` in favor of the JDK one"
Related to https://github.com/elastic/elasticsearch/issues/10794

[2015-04-29 09:24] dadoonet opened #205 "[test] Cleanup Directory and Searcher mock code"
Related to https://github.com/elastic/elasticsearch/pull/10853

[2015-04-29 09:25] #204 closed

[2015-04-29 09:25] #205 closed

[2015-04-30 12:49] robin13 opened #206 "When not on EC2, creating repository can cause timeout during verification"
If creating a repository from outside AWS (e.g. Google Compute Engine), the verification process can take longer than the default 30s timeout, resulting in the repository not being created on all nodes in the cluster, and consequently not possible to create snapshots.

Would it be possible to add the timeout as a parameter to the S3 repository configuration?

[2015-05-04 10:49] dadoonet commented on #206
I wonder if [disabling verification](http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_repository_verification) would help in that case as a workaround.

@imotov Do you think we should add such an option (`timeout`?) to the core snapshot&restore feature?

[2015-05-04 13:40] imotov commented on #206
@robin13 is there a error message logged when this happens? Could you post the error message here?

[2015-05-05 14:41] esetnik commented on #149
@tlrx are you sure AWS plugin 2.5.0 uses AWS SDK version 1.9.3? I just installed the plugin `sudo bin/plugin -i elasticsearch/elasticsearch-cloud-aws/2.5.0` and looked at the jars:

[code]

Whereas the latest available from amazon is `1.9.33`

I'm having the same issues as everyone else. Running ES 1.5.2 and AWS plugin 2.5.0 and facing persistent read timeouts from s3 restoring a 350GB index for t

[2015-05-05 14:50] tlrx commented on #149
@esetnik it is version 1.9.23, there's a typo in my comment.

[2015-05-05 14:53] esetnik commented on #149
Do you have any suggested workarounds for other ways to recover from s3? I can download the files manually but i'm not sure how to serve them locally to the recovery process.

[2015-05-06 07:03] tlrx commented on #149
@esetnik I did not try it but I think that you can download the files (including all files snapshot-*, metadata-* and all folders) from S3 and store them on a local disk. Then you can try to create a new FS repository that points to the root folder.

[2015-05-06 07:44] asileon commented on #149
i tried that workaround and it works.
you can use aws s3 sync (http://docs.aws.amazon.com/cli/latest/reference/s3/sync.html) to download the files.
the only limit is that you can run this process only on a cluster with a single node

[2015-05-06 07:57] tlrx commented on #149
Can you elaborate please?

[2015-05-06 08:12] asileon commented on #149
sorry i should have been more clear. and i could be wrong.
but since we don't know how the files are distributed between multiple nodes when stored local, all snapshot data should be copied to each node.

so what i should have wrote is that: i think the limit is every node should be able to store the whole snapshot data

[2015-05-07 19:54] threejeez opened #207 "Issue Connecting to Cluster w/ Client API (Java)"
I have a cluster running on AWS using this plugin... from the cluster standpoint, everything seems fine. However, when I try to use the client api to connect to the cluster to do bulk indexing, my app can't connect. When looking at the logs, it seems that the client API is using the private ip instead of a public one.

Here's the log output from my client app:
[code]
52.6.207.58 is the public IP,

[2015-05-09 01:56] #207 closed

[2015-05-11 12:54] #193 closed

[2015-05-11 15:11] drewr commented on #193
Thanks @rmuir!

[2015-05-11 18:34] ikoniaris opened #209 "Failing to register S3 repository in ElasticSearch"
Hello, I'm testing the 2.4.1 version of the plugin with ElasticSearch 1.4.4. When I try to add a new repository I get the following error back:

  "error": "RepositoryException[[s3_secsnapshosts] failed to create repository]; nested: CreationException[Guice creation errors:\n\n1) Error injecting constructor, java.lang.NoSuchMethodError: org.apache.http.conn.scheme.Scheme.<init>(Ljava/lang/String;I

[2015-05-11 19:16] dadoonet commented on #209
What is your dependency tree ?

[2015-05-11 19:23] ikoniaris commented on #209
@dadoonet I'm not Java proficient, sorry. Can you give an example on how to find this info? Just to clarify, I haven't written any code, I'm trying to take snapshosts from a web operations point of view. I've setup a bucket, brought up some instances with a proper IAM role, installed ElasticSearch and the plugin. Now when I try to `curl http://localhost:9200/_snapshot/s3_repo' -d '{ "type": "s3",

[2015-05-12 01:31] rmuir opened #210 "Improve @AwsTests / fix credential mgmt in tests"
The AwsTests group, i really have no idea how to run this: somehow it requires some special credentials. This makes it hard to debug any issue. I think we need to get away from these integration-type tests as quickly as possible, just trying to fix plugin builds I had to do things like install erlang and startup various services manually.

We should test primarily with unit tests.

Separately, whe

[2015-05-12 07:26] dadoonet commented on #210
I do agree that we should try to add more unit tests which are always executed.
That said, our Jenkins instance is running our integration tests using [this doc](https://github.com/elastic/elasticsearch-cloud-aws#testing) and internal credentials we have.

In other projects such as Azure and GCE plugins, I tried to add Mock objects to simulate Azure or GCE API calls which helps a lot in that case.

[2015-05-12 09:40] rmuir commented on #210
I like with azure there are lots of tests that always run! I will look into the doc, thanks!

[2015-05-13 00:44] rmuir opened #211 "AbstractS3SnapshotRestoreTest.testRepositoryWithCustomEndpointProtocol() fails often"
I'm marking this one `@AwaitsFix` to get builds stable. But this failed for me locally and seems to fail in jenkins (e.g. http://build-eu-00.elastic.co/job/es_aws/1195/)

[2015-05-13 00:47] rmuir commented on #210
@dadoonet thanks for the links. I am digging into this. We have quite a few plugins that need this same mechanism so I will try to sort it out tonight.

[2015-05-13 00:54] rmuir commented on #211
Trying to run locally and looking at jenkins logs, i see it with quite a few methods in this test.

[2015-05-13 03:49] rmuir commented on #210
See https://github.com/elastic/elasticsearch/pull/11134 which will fix the security manager issues.

I want to follow-up after that with moving `tests.config` to elasticsearch-parent, and try to add some generic tests group/parameter to elasticsearch-parent as a replacement for `tests.aws`/`tests.gce`/`tests.azure`

This way, aws/gce/azure plugins don't need custom `mvn test` logic and can just re

[2015-05-13 17:36] rmuir commented on #210
Fixed by elastic/elasticsearch#11134 . I opened an issue in es-parent to discuss how to remove custom test logic (https://github.com/elastic/elasticsearch-parent/issues/41) in each of these builds so that es-parent logic can be reused.

[2015-05-13 17:36] #210 closed

[2015-05-14 00:42] philfreo opened #212 "Migrating from zen parameters"
If I'm migrating from Zen discovery to EC2 discovery, I'm wondering about some of the "zen" params:

[code]

I see in the documentation you have a `discovery.ec2.ping_timeout` however I don't see other corresponding parameters.

If I'm using `discovery.type = ec2` then do the 4 zen parameters I mentioned above still apply?

[2015-05-18 07:34] tlrx commented on #193
@rmuir awesome :+1:

[2015-05-18 08:34] dadoonet commented on #155
@herviou As reported by @sbi-scireum, it seems that the patch we did in #202 did not work although you said it works on your end.
Before reverting the change ( #213 ), could you test on your end if the latest SNAPSHOT version we produced works for you. In that case, we can keep the change. If not, we revert.

Thanks for your help!

[2015-05-18 12:32] herviou commented on #155
Can't test on ElasticSearch with Ceph actually...

[2015-05-18 13:03] dadoonet commented on #155
@herviou So you never tested it? Any chance you could test that on your own platform? What is the platform name BTW?

[2015-05-18 13:19] herviou commented on #155
@dadoonet I've tested it on our CEPH Plateform with the aws-java-sdk and found the same issue as yours.

[2015-05-18 13:23] dadoonet commented on #155
@herviou Ok so can you try the plugin (SNAPSHOT version) on your CEPH instance? So we can say if it works or not?

[2015-05-18 13:39] herviou commented on #155
I've check the code, can @sbi-scireum try with a configuration :
cloud.aws.signer : S3SignerType
instead of
cloud.aws.signer : AWS3SignerType

On my own code I've the same behavior as @sbi-scireum  with AWS3SignerType while with S3SignerType it works : just a quick check

[2015-05-18 13:42] dadoonet commented on #155
@herviou Thanks!

When I looked at AWS SDK, I found that it should be `AWS3SignerType` but I might have misread this? https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/auth/SignerFactory.java#L116

[2015-05-18 13:46] herviou commented on #155
you're right and your code seems OK with the javadoc.
But I've try S3SignerType vs AWS3SignerType and it seems to works : take a look at https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/resources/awssdk_config_default.json

[2015-05-18 13:48] dadoonet commented on #155
I see. It's region specific settings. Worth a try for sure :)

[2015-05-18 16:28] jedi4ever opened #214 "[doc] correct S3 policy for multiparts"
for multipart to work correctly you need to also include the necessary actions in the policy.

[code]

[2015-05-18 17:42] dadoonet commented on #214
Thank you! Wanna send a PR for the doc?

[2015-05-20 15:04] #214 closed

[2015-05-20 15:34] dadoonet opened #215 "Update to elasticsearch 1.4.5"
Preparing the release of 2.4.2

[2015-05-20 16:47] #186 closed

[2015-05-20 16:50] #215 closed

[2015-05-20 16:53] dadoonet commented on #184
@imotov Did we change anything in core about this?

[2015-05-20 16:56] dadoonet commented on #209
Sorry. I misunderstood your issue.

How do you create the repository? What does your `elasticsearch.yml` settings look like?

[2015-05-20 18:25] imotov commented on #184
@dadoonet I thought there is an open issue for it in core, but apparently it's not there. I have created an issue elastic/elasticsearch#11265 for it.

[2015-05-20 20:58] dadoonet commented on #165
Closing as this will be fixed with 2.4.2 which will be hopefully released within some days.

[2015-05-20 20:58] #165 closed

[2015-05-20 21:06] dadoonet commented on #197
This won't be fix in this plugin but in elasticsearch core itself.
See https://github.com/elastic/elasticsearch/pull/8833.

Closing.

[2015-05-20 21:06] #197 closed

[2015-05-20 21:12] dadoonet commented on #166
This is fixed in 2.4.2 with #156 and this commit 4c02a017b43539d26964b639a71bf589cba1f72c

[2015-05-20 21:12] #166 closed

[2015-05-21 04:28] zhaojin0 commented on #166
thanks!

[2015-05-21 13:26] robin13 commented on #206
See https://github.com/elastic/elasticsearch-cloud-aws/issues/149#issuecomment-93597887

[2015-05-21 13:27] robin13 commented on #206
Sorry - I cannot find the original error messages, but it looks to be similar to #149
I have asked the customer to repeat the procedure and will post the error messages if/when I get them.

[2015-05-21 19:22] ikoniaris commented on #209
HI @dadoonet, I have my bucket already created in S3. My ElasticSearch cluster nodes already have an instance profile with S3 permissions, I didn't add anything else in elasticsearch.yml. So, I'm trying to add the repository via the _snapshot API using curl (see my previous comment above for the command), and I'm getting back the error I've pasted in the original post.

[2015-05-22 05:04] dadoonet commented on #209
Can you post your full stack trace or link to your full logs?

[2015-06-02 19:17] ikoniaris commented on #209
Hello @dadoonet, here is what I see on my logs when I try to add the s3 repo:
[code]

[2015-06-10 13:43] robin13 commented on #206
I was able to simulate a bad connection using [netem](http://www.linuxfoundation.org/collaborate/workgroups/networking/netem) and got this error:

[code]

[2015-06-10 14:52] dadoonet opened #216 "Update to elasticsearch 1.6.0"

[2015-06-10 14:54] #216 closed

[2015-06-18 07:54] marczis commented on #69
@drags : Thanks a lot, and I love u ! :) Wasted too many hour on this, before I got the solution from your comment...

[2015-06-18 14:09] robin13 opened #217 "Better information if credentials invalid"
If I try to create a repository using the curator tool es_repo_mgr with invalid credentials, it's really difficult to debug... given that invalid credentials probably isn't so rare, it'd be great if we could be a bit clearer.

[code]

With default debugging levels I see this in elasticsearch logs:

[code]
... nothing more...

If I enable TRACE, I don't see much more useful information

[code]

If

[2015-06-18 14:47] dadoonet commented on #217
@imotov What do you think about it?
Should I change anything in aws plugin code so we don't throw this exception with all details (and only log details in the node logs)? Or it's more a core change?

[2015-06-18 17:48] imotov commented on #217
@dadoonet it's a core change. We log most of the repository registration failures but not this one. I will fix it.

[2015-06-18 18:13] dadoonet commented on #217
Thanks! Closing this one then.

[2015-06-18 18:13] #217 closed

[2015-06-23 01:03] gopigadu opened #218 "s3 repos for snapshot fail after update to ES 1.6.0 from 1.2.1"
i am upgrading my ES cluster from 1.2.1 and 1.6.0 and getting following exceptions in the logs. Appreciate any inputs?

1) Error injecting constructor, java.lang.NoClassDefFoundError: org/elasticsearch/common/blobstore/ImmutableBlobContainer
  at org.elasticsearch.repositories.s3.S3Repository.<init>(Unknown Source)
  while locating org.elasticsearch.repositories.s3.S3Repository
  while locating or

[2015-06-23 01:05] jalateras commented on #218
Have you upgraded the cloud-aws plugin?

[2015-06-23 01:21] gopigadu commented on #218
With previous ES version 1.2.1, i never enabled s3 backups and neither installed s3 plugins on DEV/QA clusters. Not sure why it is trying to look for S3 though i don't have reference of S3 in configs.

Only on production clusters i enable backups using elasticsearch-cloud-aws-2.0.0.jar plugin, but i have not started upgrading prod cluster yet.

[2015-06-23 01:59] jalateras opened #219 "Exception while retrieving instance list from AWS API"
I have recently upgraded to ES 1.6 and cloud-aws 2.6.0. When i restarted the server i started getting these errors

[code]

but the server still starts up correctly. I am curious why this is happening since i am using the same credentials as before the upgrade

[code]

Any ideas?

[2015-06-23 02:16] jalateras commented on #219
The credentials i am using for the plugin are the same credentials i am using with the aws cli tool and i can definitely get a list of instances using 'aws ec2 describe-instances'

[2015-06-23 06:17] dadoonet commented on #218
Yes, please upgrade your plugin to 2.6.0.

Closing but feel free to reopen if you still see the issue after upgrading the plugin and restarted the node.

[2015-06-23 06:17] #218 closed

[2015-06-23 13:59] dadoonet commented on #219
Could you modify `config/logging.yml` and set `discovery` to `TRACE`?
Then paste here the logs?

Feel free to replace all credential in logs by XXXX if needed.

[2015-06-23 14:02] dadoonet commented on #219
BTW which versions (elasticsearch and cloud-aws plugin) were you using before the upgrade?

[2015-06-23 22:00] jalateras commented on #219
i upgraded from 2.4.1

[2015-06-23 22:02] jalateras commented on #219
Here are my discovery settings
[code]

discovery.zen.ping.timeout: 10s
discovery.zen.ping.retries: 5
discovery.zen.ping.interval: 15s

[2015-06-23 22:05] jalateras commented on #219
Here is the trace level logging

[code]

[2015-06-23 23:09] dadoonet commented on #219
Are you using OpenJDK or Oracle JVM?
If the former, can you install Oracle JVM and run the same test again?

[2015-06-23 23:14] jalateras commented on #219
Running Oracle JVM

[code]

[2015-06-23 23:18] dadoonet commented on #219
I tried a test but on a different zone and did not get the same result.
I'll try it again on the same zone as you did.

[2015-06-24 01:15] jalateras commented on #219
Thanks for digging in... really strange if it's working for one region and not another.

[2015-06-24 03:53] dadoonet commented on #219
Could you run another test for me please?
Could you install again version 1.4.x and the plugin version you were using, same settings and start your node?

Then try 1.5 and 2.5.x plugin?

Thanks!

[2015-06-24 07:46] Dinoshauer opened #220 "Moving snapshots to glacier, supported?"
Hey guys, I was wondering if it's supported to eventually move S3 snapshots to the glacier storage class and then restore from those?

I haven't tried yet myself just wanted to ask quickly to see if it was even possible before I spin up a test cluster

[2015-06-24 08:18] dadoonet commented on #220
I think you could do something like: http://www.online-tech-tips.com/computer-tips/how-to-move-amazon-s3-data-to-glacier/ so backup first on S3 and then move to Glacier.
I don't think you can backup directly on Glacier with this plugin. It could work but only if Glacier supports S3 API but I'm not sure it can.

[2015-06-25 02:44] jalateras commented on #219
Using es 1.4.4 ans aws-cloud 2.4.2 i get the same issue

[code]

[2015-06-25 02:49] jalateras commented on #219
Same with es 1.5.2 and 2.5.1 plugin

[code]

[2015-06-25 03:53] dadoonet commented on #219
Interesting.

Could you run a last test? With 2.4.1?

I want to make sure it was caused by a change in 2.4.2. We updated AWS SDK for example.

[2015-06-25 04:07] jalateras commented on #219
Yep that works

[code]

[2015-06-25 10:14] dadoonet commented on #219
Ok. Super strange.

I ran a test:

* deployed an ec2 micro instance using AMI `amzn-ami-hvm-2015.03.0.x86_64-gp2 (ami-fd9cecc7)`
* installed elasticsearch 1.6.0
* installed cloud aws plugin 2.6.0
* edited `elasticsearch.yml` and `logging.yml`

`elasticsearch.yml` is:

[code]

Then run `bin/elasticsearch`:

[code]

So EC2 API calls worked correctly on my end.

Then I changed `config/logging.yml` fi

[2015-06-30 04:56] markwalkom opened #222 "Add jitter when AWS API throttling is hit"
Currently if a large number of nodes need to hit the AWS endpoint for whatever reason (eg discovery), they can be impacted by [API throttling].(http://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#api-request-rate).

We will [retry on a failure](https://github.com/elastic/elasticsearch-cloud-aws/blob/master/src/main/java/org/elasticsearch/cloud/aws/blobstore/S3BlobC

[2015-06-30 05:03] dadoonet commented on #222
Mark, could you open it in Elasticsearch repo and close this one?

[2015-06-30 05:04] markwalkom commented on #222
Ahh yeah, I forgot about that! :)

[2015-06-30 05:04] #222 closed

[2015-06-30 22:58] cowboyrushforth commented on #219
Hi,

Upon attempting an upgrade from 1.3.1 to 1.6.0, and upgrading the AWS cloud plugin to 2.6.0, I have run into the exact errors.  I have followed the thread to this point and figured I would try the above logging output request.  Here it is:

[code]

This repeats one more time in the logs.  What is interesting is that after these requests fail, it makes another request to the s3 api (with the s

[2015-07-02 13:53] charz opened #223 "How to enforce aws signature to v2?"
I found some signature types in test file (https://github.com/elastic/elasticsearch-cloud-aws/blob/5390c01b1cb5f8c916050e3b1776aa86a91f9d1b/src/test/java/org/elasticsearch/cloud/aws/AWSSignersTest.java).

[code]

My question is how to set signature to V2?

[2015-07-02 15:27] dadoonet commented on #223
I guess you can not.

[2015-07-07 00:38] cthorner opened #224 "Associating on secondary subnet not possible"
Can someone confirm that it is not possible to use the discovery mechanism to associate with a secondary IP address in EC2?

Turning on logging, it looks like the security groups and tags are used for finding the correct server instances, but then the first IP is used even if it does not belong to the security group or tag specified.

[2015-07-07 23:47] conzetti commented on #223
@charz We also run a S3-compatible service that requires http_aws2 (V2), and I found in testing (and after reading others posts about Ceph interoperability), that `S3SignerType` could be used. However, after testing this, I've been unsuccessful at getting this to function on my ES 1.5.2 clusters. It does, however, work on ES 1.6.0. This will log errors, though, such as:

You can see the logic leve

[2015-07-08 00:53] dadoonet commented on #223
It should be AWS3SignerType, right?

[2015-07-08 02:01] conzetti commented on #223
@dadoonet, I assumed so, based on your code, documentation, and the aws sdk. Then when I saw issue [155] (https://github.com/elastic/elasticsearch-cloud-aws/issues/155) opened by @armin-bauer, and @herviou's comments about leveraging `S3SignerType` to eliminate the regional configuration (which I'm not using), I gave it a shot.

I discovered on `ES 1.5.2`, I can actually PUT objects, but other ope

[2015-07-08 02:19] charz commented on #223
@conzetti That's fine. I think we have same issue. When I trigger snapshot with `S3SignerType` or `AWS3SignerType`, PUTs look good (operating with `http_aws2`), but GETs use `http_aws4`. That causes the snapshot failure, but you can see some data already upload to server.

[2015-07-14 08:49] bfranklinsportingindex commented on #209
I have had a similar problem with version 1.6.0 of elasticsearch. For more information see the following link: http://stackoverflow.com/questions/31388653/how-do-i-troubleshoot-error-injecting-constructor-when-adding-an-amazon-s3-rep

[2015-07-15 08:40] bfranklinsportingindex commented on #209
I found the answer to my problem in https://github.com/elastic/elasticsearch-cloud-aws/issues/151. See further explanation in my stack overflow link http://stackoverflow.com/questions/31388653/how-do-i-troubleshoot-error-injecting-constructor-when-adding-an-amazon-s3-rep

[2015-07-17 14:09] tlrx opened #225 "Update to Elasticsearch 1.7.0"

[2015-07-17 14:10] #225 closed

[2015-07-20 21:17] nstott commented on #184
I see that elastic/elasticsearch#11265 seems to be closed, but we're still seeing unfiltered key/secret in calls to _snapshot/,
any recommendations to hide that data?

[2015-07-20 21:51] imotov commented on #184
@nstott which version of elasticsearch are you using? Which keys are exposed and for which plugin? Which version of the plugin are you using?

[2015-07-20 21:54] nstott commented on #184
we're using elasticsearch 1.7.0, version 2.7 of the plugin, and
access_key, and secret_key are exposed

[2015-07-20 23:25] imotov commented on #184
Yes, I was able to reproduce the issue. Since the keys appear in the repository settings on the top level  (instead of inside `cloud.aws.`) they are not getting filtered out. So, the plugin needs to be modified to take advantage of elastic/elasticsearch#11265.

[2015-07-27 12:42] piyushGoyal2 commented on #220
Hey Guys,
In continuation to the above mentioned problem, if a snapshot is moved from S3 to Glacier and is not permanently deleted from Glacier, those snapshots have storage class marked as Glacier in S3 console. During snapshot creation process, ES tries to read these snapshots as well. Since, it cannot read the Glacier objects, it gives the following warning:
[2015-07-27 02:19:44,648][WARN ][ind

[2015-07-29 11:50] redserpent7 opened #228 "Issue configuring/testing snapshots"
Hi,

I am having difficulty understanding how to configure snapshots. My problem is specifically with Maven and it might not be related to the plugin but I hope someone will help me here.

I tried creating the snapshot as suggested by the documentation but whenever I try to execute the test command: ```mvn -Dtests.aws=true -Dtests.config=/etc/elasticsearch/elasticsearch.yml clean test```

I get th

[2015-07-30 07:27] tlrx commented on #228
This command line is used to compile and test the Maven java project. Do you really want to do that?

If you simply want to snapshot & restore indices on AWS S3, the following pages will help you:

https://github.com/elastic/elasticsearch-cloud-aws#aws-cloud-plugin-for-elasticsearch
https://github.com/elastic/elasticsearch-cloud-aws#s3-repository
https://www.elastic.co/guide/en/elasticsearch/refer

[2015-07-30 07:27] #228 closed

[2015-08-04 17:35] jipperinbham commented on #184
any chance this will make it in soon?

[2015-08-04 20:39] hjc1710 commented on #31
I just ran into this issue today, and it had nothing to do with mis-matched ES/Plugin versions. This error is also thrown if your *config* values for the cloud-aws plugin are not correct.

What I had:

[code]

What I needed:

[code]

The major difference between the two of them being `cloud.aws.secret` in the first, non-working example; which is changed to `cloud.aws.secret_key` in the second, wor

[2015-08-04 20:44] dadoonet commented on #31
@hjc1710 I think it's useful and I agree that we should better catch that kind of error.
May be you would like to open an issue in [elasticsearch repo](https://github.com/elastic/elasticsearch) now that we moved aws plugin there?

Thanks!

[2015-08-04 21:06] hjc1710 commented on #31
Awesome, thanks @dadoonet! I did not know that this plugin had moved and the official repo is elastic/elasticsearch now. Anyway, I opened up an issue [there](https://github.com/elastic/elasticsearch/issues/12657) for this very feature, after doing a bit of rewording and thinking. If you guys need my help for that feature (for whatever reason), I'm happy to help!

[2015-08-05 19:17] rangagopalan commented on #219
I'm seeing the same error - On startup there is an error message indicating that the cloud-aws plugin was not able to validate the provided credentials - verified that I can use the same access key/secret key combination to describe instances etc. via the Ec2 command line tools

This is happening after I upgraded ES from 1.4.2 to 1.7.1 and installed the latest cloud plugin version 2.7.0 (not sure

[2015-08-07 08:18] chaudum opened #229 "Exceeded rate limit on EC2 API calls"
Hi,

We've built in the EC2 discovery mechanism into Crate and experienced exceeding the rate limit / quota of EC2 API requests when starting a few nodes simultaneously. I just wanted to ask if you ever had such an issue?

[code]

We now do cache the node list from the EC2 request if it is not empty. https://github.com/crate/elasticsearch-cloud-aws/commit/3f5383ca5a364343d14435e43db115ba6452868b
I

[2015-08-09 23:59] rangagopalan commented on #219
Looks like this was an issue with the clock being out of sync on my AWS instance -Came across this - http://stackoverflow.com/questions/24744205/ec2-api-error-validating-access-credential - and updated my instance clock with ntp and then the plugin starts working fine -

[2015-08-10 00:12] jalateras commented on #219
@rangagopalan Thanks for that. I'll try it on the instance i had issues with.

[2015-08-10 07:49] jsok opened #230 "base_path appears to be ignored on S3 bucket"
Hi there,

I'm running ES 1.6.6 and version 2.6 of this plugin.

My `elasticsearch.yml` repositories config looks like:

[code]

When I restrict my IAM policy to only `my-bucket-name/staging/*` (using the policies in the plugin README), I get the error:

[code]

My suspicion for `base_path` being ignored is the error message from https://github.com/elastic/elasticsearch/blob/master/core/src/main/j

[2015-08-10 07:55] jsok commented on #230
My IAM Policy for reference:

[code]

I can sanity check the policy by using AWS CLI to successfully upload files:

[code]

[2015-08-10 08:22] jsok commented on #230
And listing the snapshots shows no `base_path` in the `settings` object:

[code]

If I add a snapshot manually via `PUT /_snapshot/my-bucket-name-manual` and include `base_path` everything works as expected:

[code]

Which narrows down this issue -- how do you properly specify `base_path` in `elasticsearch.yml`?

[2015-08-10 08:32] dadoonet commented on #230
It's not supported yet.

I guess we need to change [this line](https://github.com/elastic/elasticsearch/blob/master/plugins/cloud-aws/src/main/java/org/elasticsearch/repositories/s3/S3Repository.java#L126-126)

from:

[code]

to

[code]

[2015-08-10 08:35] jsok commented on #230
Great news, I can open a PR for the fix if that solution is acceptable?

[2015-08-10 08:42] dadoonet commented on #230
@jsok Added a PR here: https://github.com/elastic/elasticsearch/pull/12761

As there is a workaround for now (I mean setting the path in the repository itself), I think we can close your issue?

[2015-08-10 08:52] jsok commented on #230
Sure, thanks for that!
What's the release process for this plugin, I.e. How can I get the fix installed on my servers?

[2015-08-10 09:06] dadoonet commented on #230
Well. I created the PR for elasticsearch 2.0 only so depending on when it will be merged you might be able to use it with elasticsearch 2.0 Beta1 or later.

You can't use this patch for prior versions and we will only release new plugin versions for former 2.0 elasticsearch versions if there are important issues.

But, you can fork the project, apply the same patch and build your own version if ne

[2015-08-10 09:06] #230 closed

[2015-08-10 09:54] jsok commented on #230
Thanks for the explanation about releases. I wasn't familiar with the elastic search release model.

Can I suggest a clarification in the `README` that informs people that `base_path` (are there any others?) isn't settable via `elasticsearch.yml`? I'm sure I won't be the last to attempt this configuration.

[2015-08-10 09:56] dadoonet commented on #230
@jsok Feel free to send a PR to this repository.

I changed the doc in the PR for next versions: https://github.com/elastic/elasticsearch/pull/12761/files#diff-59ee5813cfd6652346ece0f2a8da0a66R190

[2015-08-10 13:41] roivanov commented on #229
+1

[2015-08-11 02:44] jeremysanecki commented on #229
+1

[2015-08-11 07:23] chaudum commented on #229
made a PR https://github.com/elastic/elasticsearch-cloud-aws/pull/231

[2015-08-11 17:55] dadoonet commented on #183
This issue was moved to elastic/elasticsearch#12809

[2015-08-11 17:55] #183 closed

[2015-08-14 17:05] lusid opened #233 "Amazon Complaining about Missing Date Header When Creating/Fetching S3 Repository"
I'm currently using v2.5.1 of this plugin successfully on one of my servers (running inside the official ES Docker image) to create and snapshot to an S3 repository. I recently started a new instance of ES in a new Docker container on the same server with the same exact configuration with the intention of restoring a snapshot, but noticed I could not create repositories or fetch listings of snapsh

[2015-08-16 13:37] daviddyball commented on #233
I'm also experiencing this issue using Docker+Elasticsearch 1.4 container and `2.4.1` of the `elasticsearch-cloud-aws` plugin.

[code]
[code]

[2015-08-16 15:01] lusid commented on #233
Seems to be related to some change in the Docker base images: https://github.com/aws/aws-sdk-java/issues/484

[2015-08-17 18:55] lusid commented on #233
It seems the required change is to use Amazon SDK v1.10.11 for any version of Java 1.8u60 and above (in the case of the base Docker images, 1.8u66 is the new base version used for 1.8).

I'm not exactly sure how to go about testing this or if there is something else that needs to be done to get this change into all of the versions, but I tried modifying the pom.xml file in v1.5 branch and run a "m

[2015-08-18 02:27] whybangbang opened #235 "stop a node the error is TransportService is closed stopped can't send request"
we have to put a plugin to the produce envrionment,but when we stop a node ,the log produce a error :"TransportService is closed stopped can't send request",and when we restart the node,it's a long time even 1 minute util cluster find the node,we don't konw how to do
we use aws plugin elasticsearch 1.5.2
discovery.type: "ec2"
discovery.ec2.host_type: "private_ip"
discovery.ec2.ping_timeout: "30s"

[2015-08-18 08:58] luismfonseca commented on #233
@lusid Thats because that class no longer implements all the methods present in the AmazonS3.

I've actually implemented them, packaged a new version with the latest Amazon SDK dependency but it still gives the same error.

Upon inspecting the generated zip, I saw that it still includes `joda-time 1.7.0`. This comes from `elasticsearch-parent` project [[pom]](http://central.maven.org/maven2/org/el

[2015-08-18 10:56] lusid commented on #233
dadoonet linked here on my pull request where they updated the aws-sdk in ES 5 days ago to 1.10.10: https://github.com/elastic/elasticsearch/pull/12859

I guess we are just waiting then at this point.

[2015-08-19 15:46] cowboyrushforth commented on #219
I can confirm this issue was due to NTP.  In my case a firewall restriction was added preventing NTP from working.  Once I corrected the clock across the whole cluster the upgrade works as expected.

[2015-08-19 20:36] #184 closed

[2015-08-21 11:55] TheDeveloper commented on #233
Seeing this too.

I'd say this is pretty urgent given people wanting to recover into a new cluster can't because they can't create the repository to recover from.

[2015-08-21 13:38] TheDeveloper commented on #233
Requests to recover shards from S3 are also failing:

[code]

Our workaround for this was to downgrade to a JVM version before 1.8u60. In our case we went back to 1.7.0_80.

[2015-08-21 13:40] lusid commented on #233
My workaround was similar. Downgrading to 1.8u45 solves it as well.

[2015-08-24 12:17] dadoonet opened #236 "Update aws-sdk-java to 1.10.12"
Follow up for #234.

Release note: http://aws.amazon.com/releasenotes/Java/6635368276326731

[2015-08-24 12:20] #233 closed

[2015-08-24 12:20] #236 closed

[2015-08-24 16:40] ankon opened #237 "(Minor?) Small "race" in EC2 discovery of master nodes"
Just got this now, and from what I see it is not in any way fatal as such, but to me it smells like there might be an issue either in ES itself, or in the discovery logic:

Node1:
[code]

Node2:
[code]

Note the first "failed to send join request" in Node2's logs: the timing is awfully close to when the master actually says its a master. Times should be comparable, both nodes run ntp.

This is wit

[2015-08-26 19:39] dadoonet opened #239 "Force inclusion of Joda 2.8.2"
Follow up for discussion #234

We need to pull in Joda 2.8.2 and don't rely of the version declared by elasticsearch which is currently 2.7.

It will fix issues seen with recent Java versions. See also https://github.com/aws/aws-sdk-java/issues/444

[2015-08-26 19:45] #239 closed

[2015-08-27 12:40] dadoonet opened #240 "Fix AWS API issue when running Java v1.8u60"
Meta issue to have better labelling when creating the release note :)

* #234
* #236
* #239

[2015-08-27 12:40] #240 closed

[2015-08-31 09:36] whybangbang commented on #237
can you show your conf? maybe we have a common trouble

[2015-08-31 18:18] ankon commented on #237
My configuration is fairly basic:
[code]

Note though that the issue in this ticket isn't a problem as such, elasticsearch worked out the cluster configuration after all. It's mainly that there is a chance that something either in the cloud-aws or the core elasticsearch code does operations in the wrong order.

[2015-09-01 02:49] whybangbang commented on #237
do you have solve it? we have a problem ,and i dont know how to solve it, can you help me ? We have to put a plugin to the produce envrionment, but when we stop a node, the log produce a error: "TransportService is closed stopped can't send request", and when we restart the node,it's a long time even 1 minute util cluster find the node, we don't know how to do we use AWS plugin elasticsearch 1.5.2

[2015-09-02 15:02] marksmithson opened #241 "Discovery using value of tags for current instance"
It would be very useful to be able to configure a cluster by selecting other instances based on the value of tag set on the current instance. This would allow an AMI to be created which will join a cluster based on the value set for a tag on the instance.

I am thinking of something like this:
discovery.ec2.tag.escluster: "<instance-value>"

<instance-value> would be replaced by the value of the e

[2015-09-02 16:33] taraslayshchuk commented on #76
Hi. I get in trouble with configurating 2 nodes in aws cloud in tribute cluster.

Config file of first node:
[code]
Log output from first node:
[code]
Config file of second node:
[code]
Log output from second node:
[code]
Local node config file:
[code]
Local node log file output:
[code]
So what we have? Nodes see each other, but did not make cluster. I don`t know why, but cluster.service did not s

[2015-09-02 22:50] nkvoll opened #242 "Setting signer type to AWS4SignerType breaks repository functionality"
The client receives the following response to a snapshot repository creation:

    {"error":"RepositoryException[[direct_repo] failed to create repository]; nested: CreationException[Guice creation errors:\n\n1) Error injecting constructor, com.amazonaws.services.s3.model.AmazonS3Exception: Bad Request (Service: Amazon S3; Status Code: 400; Error Code: 400 Bad Request; Request ID: .....), S3 Exten

[2015-09-03 18:50] jamshid commented on #223
Found while issue while searching for a solution to make aws-sdk-java work with an S3-compatible service that does not implement V4 signatures. To force aws-sdk-java to use V2 you have to use a recent SDK release and configure setSignerOverride("S3SignerType"). Without this, the sdk always uses V4 signatures for GetObjet.
[code]
See https://github.com/aws/aws-sdk-java/issues/372.

[2015-09-03 19:33] dadoonet commented on #223
@jamshid Thank you. I think it makes sense.
So I basically need to change this https://github.com/elastic/elasticsearch-cloud-aws/blob/master/src/main/java/org/elasticsearch/cloud/aws/AwsSigner.java#L44-51 and the doc?

[2015-09-03 20:59] dadoonet commented on #242
I think the fix could come from this comment: https://github.com/elastic/elasticsearch-cloud-aws/issues/223#issuecomment-137540644

[2015-09-03 21:09] dadoonet commented on #181
@nikolay We released recently new versions of the cloud-aws plugin. Any chance you can test 2.7.1 with es 1.7 on OpenJDK 8?

[2015-09-18 22:31] aedades commented on #229
+1

[2015-09-23 23:00] hernan82arg opened #244 "Discovery on EC2 not running"
Hi Guys, I've been trying to make this work with no luck.

My config is as follow:

cluster.name: fake
node.name: prd-fake-app-01
cloud:
    aws:
        access_key: AKIAI24ITOQA4NFAKE
        secret_key: 7fHOeNoeuzFrnvpKgXj2ac6GL4TkeFAKE
        region: us-east
discovery:
    type: ec2
    groups: sg-8d64fake

IAM user has full access to ec2.

Log looks as follow:

[2015-09-23 22:50:12,058][INFO

[2015-09-25 04:31] vazhnov commented on #181
I got this error in Ubuntu 15.04, Elasticsearch 1.5.2, AWS Cloud Plugin 2.5.0, OpenJDK 8.
Fixed by:
[code]

[2015-09-30 14:10] ankon commented on #174
Some explicit links:
* https://github.com/elastic/elasticsearch/issues/8958 is the issue mentioned above, with the PR merged into v2.0.0-beta1
* #150 is pretty much the same thing, albeit on the deletion side.

Update from my point: I cannot update to 2.0.0, so I'll instead use a different strategy to manage snapshots -- probably by actually rolling the repositories, and then selectively wiping th

[2015-09-30 14:11] ankon commented on #194
This might be the same issue as https://github.com/elastic/elasticsearch/issues/8958, #174, #150 and others.

[2015-10-03 19:17] xuzha commented on #223
Close this via https://github.com/elastic/elasticsearch/pull/13360

[2015-10-03 19:17] #223 closed

[2015-10-05 18:24] danialfaridrocksauce commented on #244
+1 same issue

[2015-10-06 10:22] Pryz commented on #76
I'm also hitting this bug. Any news on this ?

elasticsearch-cloud-aws : 2.7.1
elasticsearch :  1.7.1

[2015-10-07 06:10] toleksyn commented on #76
Also encountered this one with es 1.6. Please fix.

[2015-10-13 08:32] JamesBromberger opened #245 "Option to explicitly set x-amz-acl: Private"
While ACL Private is a default, it would be nice to permit ElasticSearch nodes to explicitly set the desired ACL for the snapshots they create. This can then be validated by an S3 Bucket Policy, which can reject clients that try to upload objects to S3 that aren't set as Private.

http://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html
http://docs.aws.amazon.com/AmazonS3/latest/dev/using-

[2015-10-13 08:39] dadoonet commented on #245
Hi @JamesBromberger

Thanks for opening that feature request. Do you mind reopening it in https://github.com/elastic/elasticsearch where the code has moved now?

[2015-10-13 12:48] rtkmhart commented on #229
We ran into this as well. The plugin should have some sort of back-off strategy.

[2015-10-14 02:42] JamesBromberger commented on #245
Done. #14103.
https://github.com/elastic/elasticsearch/issues/14103

[2015-10-14 02:42] #245 closed

[2015-10-15 15:14] mausch commented on #244
Same here. I had this working until a few days ago, has Amazon made a breaking change somewhere?

[2015-10-15 16:07] ankon commented on #244
You should be able to enable debugging for discovery using `config/logging.yml` by uncommenting the line for `discovery`

[2015-10-16 10:48] falzm opened #247 "Unable to create S3-backed repository"
Hi

After installing the *cloud-aws* plugin (using `plugin install elasticsearch/elasticsearch-cloud-aws/2.7.1`) I cannot declare a new snapshot endpoint:

[code]

Elasticsearch node boot log:

[code]

I've managed to use this plugin without problems in the past, this is the first time I see this. Is this problem related to the recent message stating that this module is now shipped as [repository-

[2015-10-16 12:34] dadoonet commented on #247
Do you have more than one node running ?
If so, make sure you installed the plugin on all nodes.

[2015-10-16 12:36] falzm commented on #247
No, just this one node.

[2015-10-16 12:45] dadoonet commented on #247
What is this then? 172.17.0.8:9300

[2015-10-16 13:02] falzm commented on #247
Woops you're right, the node joined another cluster because the zen discovery multicast wasn't disabled... Works fine when the node is *actually* solo. Sorry for the noise!

BTW regarding the relocation of the plugin to "repository-s3", what is the new installation procedure? `plugin install elastic/repository-s3` ?

[2015-10-16 13:02] #247 closed

[2015-10-16 13:23] dadoonet commented on #247
It's only for master branch. For now use cloud-aws

[2015-10-16 13:24] falzm commented on #247
OK, thanks.

[2015-10-16 13:24] dadoonet commented on #247
Doc is here: https://www.elastic.co/guide/en/elasticsearch/plugins/2.0/cloud-aws.html

[2015-10-16 14:55] dadoonet commented on #229
This will be closed when https://github.com/elastic/elasticsearch/pull/14155 will be merged.
Closing this one in favor of the PR and https://github.com/elastic/elasticsearch/issues/14099

[2015-10-16 14:55] #229 closed

[2015-10-19 08:35] TheDeveloper commented on #240
also ref #233

[2015-10-19 14:38] gursohippo opened #248 "Listing snapshot for a given repository returns all the snapshots in the bucket"
Hi guys, not sure this is a real bug, but here it goes:

I registered 3 different S3 repositories using a single S3 bucket and the same credentials for 3 indices from the same instance of elasticsearch.
Each repository is named after the index that is supposed to snapshot every day (to make automation easier).
So ATM I have one bucket, 3 repos and 3 indices. Snapshots creation/deletion and restore

[2015-10-26 19:04] diclophis opened #249 "Please explain requirement for s3::DeleteObject IAM permission"
Hello,

We are implementing ES s3 snapshots as a mechanism for secure storage of system logs and we do not desire to allow the search cluster to be able to "delete" anything from the s3 bucket (for auditing purposes).

Is the `s3::DeleteObject` permission absolutely required? Or can it be disabled via a config switch. We would be OK with having the bucket "fill up" indefinitely while storing snaps

[2015-10-26 19:24] dadoonet commented on #249
Yes. We need to delete unused old files (old segments) at some point.

I'm unsure if we should support such a "do not remove anything" feature. @imotov thoughts? Should we open an issue in core?

[2015-10-26 19:27] diclophis commented on #249
Thanks for the quick reply... Do these "old segment" files have a particularly unique filename signature that we could restrict the `s3::DeleteObject` by?

[2015-10-26 19:31] dadoonet commented on #249
There can be a lot of files extension.

Just index some data in a cluster, and look at the data dir.
Index new data again after some seconds (let say 6 seconds). Look at the data dir again.

Then run an optimize with number of segments = 1 and look at files that have been removed. That could give you an idea. Probably incomplete though.

[2015-10-27 00:06] diclophis commented on #249
Ok... we also discovered another oddity regarding security/permissions...

It seems when you fetch: `http://your-es-cluster-host/_snapshot/your-es-s3-backup-bucket-repository` the AWS `access_key` and `secret_key` (it looks like all settings for the repository in fact) are returned in the HTTP response.

This is extremely undesirable for our use case because of the required `s3::DeleteObject` perm

[2015-10-27 00:26] dadoonet commented on #249
Which version are you using?

[2015-10-27 01:48] diclophis commented on #249
Our stack looks like this

    elasticsearch  1.4.5
    curator  3.3.0
    elasticsearch-cloud-aws 2.4.2

Again, thanks for the quick responses...

[2015-10-27 06:23] dadoonet commented on #249
It has been fixed in 2.0.0: https://github.com/elastic/elasticsearch/pull/12845

But it sounds like it was not backported

[2015-10-27 06:24] dadoonet commented on #249
Also related PR in this project: https://github.com/elastic/elasticsearch-cloud-aws/pull/180

[2015-10-27 19:01] diclophis commented on #249
Ok, we were able to configure the secret tokens in our `elasticsearch.yml` which seems to prevent the key leakage. Thanks again, gonna close this ticket as all of our issues have been addressed

[2015-10-27 19:01] #249 closed

[2015-10-28 05:53] xuzha commented on #248
This is because of using the same bucket.

[2015-10-28 09:50] gursohippo commented on #248
Thank you very much @xuzha

Giuseppe

[2015-10-28 09:52] #248 closed

[2015-11-02 22:42] zcox opened #250 "No Elasticsearch 2.0 support"
Unable to install discovery-ec2 and repository-s3 plugins in Elasticsearch 2.0:

`bin/plugin install --verbose discovery-ec2` results in:

[code]

`bin/plugin install --verbose repository-s3` results in:

[code]

[2015-11-02 23:25] imotov commented on #249
@dadoonet I think it is possible to modify the way snapshots are created to make them write-once. There are only two things that are preventing this at the moment - 1) in order to ensure that we can read snapshots at any time we write snapshot metadata files using a temporary name and then atomically move them into place. 2) we create a single index file for url repository. I think it should be re

[2015-11-02 23:42] xuzha commented on #250
The split is in 3.0, there are no discovery-ec2 and repository-s3 plugin.  Try to use `cloud-aws`.

If you try this with 3.0, you could try to download and build from the Elasticsearch source, and install them via files : `/bin/plugin install file:[path-to-repository-s3-3.0.0-SNAPSHOT.zip]`

Close this.

[2015-11-02 23:42] #250 closed

[2015-11-03 00:07] zcox commented on #250
@xuzha `bin/plugin install cloud-aws` worked in Elasticsearch 2.0, thanks!

[2015-11-03 00:59] dadoonet commented on #250
Out of curiosity, why did you think at the beginning that repository-s3 was a correct plugin name?
I mean: where did you get this information?

[2015-11-03 01:34] davidski commented on #250
@dadoonet - As a follower of the project, I've been a bit unclear myself from the readme (https://github.com/elastic/elasticsearch-cloud-aws) and from many of the recent comments here on this plugin's repo about the two subdivided plugins under the elastic branch. Is there a FAQ somewhere that details how the split of `cloud-aws` is going to take place and when? Thanks!

[2015-11-03 05:10] dadoonet commented on #250
Of course ! The first line of the README!

I need to fix that because it's confusing.

Thanks.

The split has been done in master branch (3.0.0-SNAPSHOT). https://www.elastic.co/guide/en/elasticsearch/reference/master/_plugins.html#_cloud_aws_plugin

[2015-11-03 07:55] dadoonet commented on #250
So I just updated the README.

[2015-11-03 12:26] davidski commented on #250
Thanks for doing that! Now I know not to worry about the plugin architecture changing radically in the immediate future. :smile:

[2015-11-03 14:25] zcox commented on #250
@dadoonet it was indeed the first line of the readme that led me to believe instead of cloud-aws, I needed to install discovery-ec2 and repository-s3 plugins. Thank you for fixing the readme. :+1:

[2015-11-09 13:24] phutchins opened #251 "Installing plugin in ES2.0 fails"
Looks like we're missing a required file to install in 2.0...

bin/plugin install https://github.com/elastic/elasticsearch-cloud-aws/archive/v2.7.1.zip
-> Installing from https://github.com/elastic/elasticsearch-cloud-aws/archive/v2.7.1.zip...
Trying https://github.com/elastic/elasticsearch-cloud-aws/archive/v2.7.1.zip ...
Downloading .............................................................DO

[2015-11-09 13:26] dadoonet commented on #251
Have a look at the very first lines in the README.

[2015-11-09 13:26] #251 closed

[2015-11-09 14:34] phutchins commented on #251
Saw those just after I posted this. Went to close this and you beat me to it. :)

[2015-11-13 11:16] RaffaelloBertini commented on #76
@taraslayshchuk  you have different cluster name among the nodes, that way they didn't build a cluster.

[2015-11-13 11:16] Raffaello commented on #76
@taraslayshchuk you have different cluster name among the nodes, that way they didn't build a cluster.

[2015-11-19 21:20] khinlatt opened #253 "InvalidLocationConstraint while registering snapshot repo in s3"
This is a similar problem to https://github.com/elastic/elasticsearch-cloud-aws/issues/73

I'm running es-1.7.3 and cloud-aws-2.7.1

When I run this to register snapshot to s3,
[code]

I get this error.
[code]

Anybody has any idea on why this error is shown? Thanks in advance!

[2015-11-19 22:12] khinlatt commented on #253
Update: the error was because I have not created that bucket on s3.

New error:
now it fails with Access Denied

[code]

I do have the config set up in elasticsearch.yml like so:
[code]

I have policy set up like this:
[code]

[2015-11-20 00:35] leunamnauj opened #254 "plugin-descriptor.properties missing error"
Hello,
I got the following error during plugin installation:

/usr/share/elasticsearch# bin/plugin install elasticsearch/elasticsearch-cloud-aws/2.7.1
-> Installing elasticsearch/elasticsearch-cloud-aws/2.7.1...
Trying https://download.elastic.co/elasticsearch/elasticsearch-cloud-aws/elasticsearch-cloud-aws-2.7.1.zip ...
Downloading .................................................................

[2015-11-20 06:01] dadoonet commented on #254
May be you missed the **IMPORTANT** part of the README (the very first lines)?

With ES 2.0 don't use this repo anymore.

[2015-11-20 06:01] #254 closed

[2015-11-20 09:46] leunamnauj commented on #254
You are so right, I've missed the first part but now I have the following problem:

bin/plugin install repository-s3 --verbose
-> Installing repository-s3...
Trying https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/repository-s3/2.0.0/repository-s3-2.0.0.zip ...
Failed: FileNotFoundException[https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/reposit

[2015-11-20 09:54] dadoonet commented on #254
Ok. The README says:

Unless you are testing your own elasticsearch version on master branch, please follow the documentation link: https://www.elastic.co/guide/en/elasticsearch/plugins/current/cloud-aws.html

[2015-11-20 12:25] leunamnauj commented on #254
Hello David,
Has worked perfectly, my brain is just not working today.

Thank you very much for your support and patience!

[2015-11-20 15:55] #253 closed

[2015-11-20 18:44] dadoonet commented on #253
@khinlatt Thanks for closing the issue. Out of curiosity, what was the final issue?

[2015-11-20 22:47] khinlatt commented on #253
@dadoonet the policy from this documentation did not work for me. The moment I changed it to s3 full access, it was good to go.

Has anyone have that issued with the policy before?

[2015-11-20 22:50] dadoonet commented on #253
Not that I'm aware of. But good to know. Thanks

[2015-11-23 12:24] dadoonet commented on #219
Closing this. Basically we know that 2 issues could cause that:

* NTP issue
* Java v1.8u60 when using cloud-aws plugin 2.7.0 Fixed with #240 (2.7.1)

[2015-11-23 12:24] #219 closed

[2015-11-23 14:22] dadoonet commented on #181
Closing. No further news on this so I suppose everything is fine now with the recent versions.

[2015-11-23 14:22] #181 closed

[2015-11-24 20:42] khinlatt commented on #253
@dadoonet after I have set this process up successfully, I am doing the same on an ec2 box.
With proper creds set up, including s3 full access. I am getting this error:
Running from ec2 box:
[code]
[code]

Sorry to bug you again. Could you please shed some light on this issue? Thanks a lot.

[2015-11-25 15:30] mausch commented on #244
In my case I was missing the `http.publish_host` setting ( https://github.com/elastic/elasticsearch/issues/8137 ) because I was running ES on Docker mapping it to a different port. Weird thing is two out of three nodes could always see each other and one of them (seemed to be random which one) was left out.

Anyway, it was not related to the AWS discovery plugin, sorry.

[2015-11-30 15:07] dadoonet commented on #124
Closing in favor of https://github.com/elastic/elasticsearch/issues/15114

[2015-11-30 15:07] #124 closed

[2015-12-01 15:18] dadoonet commented on #149
I wonder if we should try to add more options to the client we are using.

http://docs.aws.amazon.com/AWSSdkDocsJava/latest/DeveloperGuide/section-client-configuration.html

Like what we are doing in https://github.com/elastic/elasticsearch/pull/15080 for azure.

[2015-12-02 04:14] neonix888 commented on #164
root@elk-prd:/usr/share/elasticsearch# bin/plugin install elasticsearch/elasticsearch-cloud-aws/2.4.1
-> Installing elasticsearch/elasticsearch-cloud-aws/2.4.1...
Trying https://download.elastic.co/elasticsearch/elasticsearch-cloud-aws/elasticsearch-cloud-aws-2.4.1.zip ...
Downloading ..................................................................................................................

[2015-12-02 05:58] dadoonet commented on #164
Please read the very first lines of the README.

[2015-12-02 06:00] neonix888 commented on #164
@dadoonet , my bad and thank you

[2015-12-02 18:00] neonix888 commented on #244
+1

[2015-12-02 18:01] neonix888 commented on #244
Greetings, anyone know what is the work around as only single node is showing up when they should be nodes showing up in a cluster. Thank you for your time.

[2015-12-02 18:03] mausch commented on #244
Scratch my previous comment, it happened again. I had to revert to manual discovery.
Nothing relevant came up in the debug logs, I'll post what I have tomorrow.

[2015-12-02 18:27] neonix888 commented on #244
My bad, need to allow 9300. Auto discovered, voila!

[2015-12-02 20:48] imacube commented on #244
@hernan82arg Did you set the following:
[code]

By default its set to ```true``` so the plugin still try's all instances in the region regardless of the security group so the ```discovery.ec2.groups``` option won't help.

[2015-12-02 20:50] hernan82arg commented on #244
Nope, I didn't. Will try that the next time. I haven't come back here because after some time it worked (without making any changes). Thanks

[2015-12-02 20:58] imacube commented on #149
I had a problem with elasticsearch 1.7.1 using AWS plugin 2.7.1 restoring about 300 GB of snapshots. My cluster is running in a VPC and was accessing S3 via a t1.micro NAT instance. The restore was going to take a few days.

The NAT instance was a bottleneck on my network bandwidth. I created a separate cluster in the same VPC but put them into a public subnet. Now S3 was accessed through an Inter

[2015-12-02 21:48] dadoonet commented on #149
@imacube That sounds a good thing to add in docs. Do you want to contribute [there](https://github.com/elastic/elasticsearch/blob/master/docs/plugins/repository-s3.asciidoc)?

[2015-12-03 03:00] jindov opened #255 "cloud-aws plugin does not put snapshot to s3-ceph API"
This is my config in elasticsearch.yml for connecting to aws:

[code]

When I start elasticsearch with enabling debug log, it notice:

[code]

However, with this signer, I can connect to s3-ceph and verify snapshot repo with this command:

curl -XPUT 'http://localhost:9200/_snapshot/mysnap?verify=false' -d '{"type":"s3","settings":{"access_key":"my-key","secret_key":"my-secret-key","bucket":"esrep

[2015-12-03 03:21] jindov commented on #255
Update output when run verify repo with S3SignerType API:
[code]

[2015-12-08 17:36] aedades opened #256 "More information on cloud.node.auto_attributes setting"
Hello - I wanted to do a sanity check on some settings regarding shard allocation awareness.  The docs for this setting state:

Though not dependent on actually using ec2 as discovery (but still requires the cloud aws plugin installed), the plugin can automatically add node attributes relating to ec2 (for example, availability zone, that can be used with the awareness allocation feature). In order

[2015-12-12 15:44] darylyu opened #257 "Getting {"acknowledged":true}, but files don't show up in S3."
We wanted to try using the aws-cloud for backups for our elasticsearch data. I'm using the plugin for ES1.7. I only get `{"acknowledged":true}` when I run this:

[code]

ES and the plugin are running inside a Docker container.

When I run: `curl localhost:9200/_snapshot/projectname/`

I get back the data included in my PUT above.

When I run: `curl localhost:9200/_snapshot/project_name/_all`

I ge

[2015-12-27 15:27] drora opened #258 "Amazon Elasticsearch Service"
Hi,
is there a way to discover nodes behind amazon elasticsearch service? (currently v1.5)
the ec2 discovery feature obviously doesn't work in this case (even with a custom cloud.aws.ec2.endpoint setting).
essentially, the idea is to lunch a client node that will point to amazon elasticsearch services cluster entry-point along with IAM based auth.

**http://pokusak.blogspot.co.il/2015/10/aws-elast

[2015-12-27 17:33] dadoonet commented on #258
AFAIK AWS does not allow Java connections (transport layer) to its "elasticsearch as a service" service.
May be you can ask on discuss.elastic.co or on AWS forums?

Not directly related, in case you want to try it, [found](https://www.elastic.co/found) offers HTTP and transport access.

I'm closing this issue as I don't think we can solve anything in this plugin for your need. Feel free to reopen

[2015-12-27 17:33] #258 closed

[2015-12-30 11:38] dadoonet commented on #257
Did you mean: `curl localhost:9200/_snapshot/ph_es_snapshot/` and `curl localhost:9200/_snapshot/ph_es_snapshot/_all`?

Any chance you could test it without docker? Can you also check elasticsearch logs?

[2015-12-30 17:26] #256 closed

[2015-12-30 17:51] dadoonet commented on #256
Did you get the answer you were looking for? If so, do you think it should be documented somewhere?

[2016-01-07 19:35] HenleyChiu opened #259 "Does this plugin delete files from your S3 Bucket?"
Does this plugin ever delete files from your S3 bucket when snapshotting or restoring? Or does it only insert and update files?

Reason I am asking is because I am considering implementing MFA (Multi-Factor Authentication) for Deletes in S3, which means all deletes must pass an authorization header.

[2016-01-07 19:57] dadoonet commented on #259
It also deletes files when they are not needed anymore.

[2016-01-07 19:57] #259 closed

[2016-01-08 17:31] HenleyChiu opened #260 "Restart server if aws key changes in config?"
Do I need to restart my Elastic server if I change the AWS key in my elasticsearch.yml config file?

[2016-01-08 17:45] HenleyChiu commented on #259
What if you're just restoring? Do you need delete privileges on the bucket files?

[2016-01-08 17:46] HenleyChiu opened #261 "Delete Bucket Privileges if Just Restoring?"
Do you need delete privileges on the AWS bucket files if the Elastic server is just restoring? (not snapshotting)

[2016-01-08 18:52] dadoonet commented on #259
May be not needed if you use it with read only mode. IIRC it comes in elasticsearch 2.2... (May be 2.1).

[2016-01-11 13:53] dadoonet commented on #260
AWS Client is created on a node level as soon it's needed and then is cached indefinitely.
It means that you need to restart the node.

Also, `elasticsearch.yml` file is read only once when the node starts. Even if the plugin was able to provide a smarter cache with expiration every x minutes for example, it would not be able to read the new settings.

@clintongormley WDYT? If doable, should we tr

[2016-01-11 13:57] clintongormley commented on #260
@dadoonet No I don't.  Too much can go wrong

[2016-01-11 13:57] dadoonet commented on #261
You need delete privileges when you create the repository because elasticsearch will check that it can write a file to the repo and then will remove it.

From elasticsearch 2.1.0, a `readonly` parameter is supported. So I think you can create a S3 repository with `readonly` parameter and in that case you won't need the delete privilege.

If it does not work for you, please open a thread on discuss

[2016-01-11 13:57] #261 closed

[2016-01-11 13:59] dadoonet commented on #260
Thank you @clintongormley.

Closing.

[2016-01-11 13:59] #260 closed

[2016-01-11 22:48] dbaggott opened #262 "Is cloud-aws for 2.X available in maven for java client nodes?"
I have a java-based client node that uses cloud-aws for EC2 discovery and I'm trying to upgrade it from 1.7 to 2.1.1.

I'm unable to find any 2.X-compatible versions of the plugin in maven.  Am I missing it?  If I want to incorporate EC2-based discovery of an ES 2.1.1 cluster into a java client, how is it recommended that I proceed?

[2016-01-11 22:59] #262 closed

[2016-01-11 23:00] dbaggott commented on #262
Yes, it is:

[code]

[2016-01-12 12:38] floretan commented on #250
The wrong reference to the repository-s3 plugin is still mentioned here too: https://www.elastic.co/guide/en/elasticsearch/plugins/master/repository-s3.html

[2016-01-12 12:55] dadoonet commented on #250
@floretan Why do you think it's wrong? In master branch, it looks correct to me.

[2016-01-12 13:42] floretan commented on #250
@dadoonet Sorry, it is indeed correct for the master branch. The different plugin names are quite confusing though, it would be helpful to make sure that every version of these instructions specifies what version of elasticsearch they apply to, most people won't reach them through the readme file.

[2016-01-12 13:44] dadoonet commented on #250
Is there something we should change at the beginning of the README file?

<img width="711" alt="elastic-elasticsearch-cloud-aws google chrome aujourd hui at 14 43 21" src="https://cloud.githubusercontent.com/assets/274222/12265021/da4128c2-b93a-11e5-8cc4-4a2248546c0d.png">

[2016-01-14 21:45] trekr5 opened #263 "This plugin doesn't work with Elasticsearch 2.x"
Hi,

I'm upgrading ES from 1.7.3 to 2.1.1 and had plugins like elasticsearch-cloud-aws installed on my ES estate. However this plugin no longer works with ES 2.1.1.

Do you have a version of this plugin that can work with ES 2.1.1 ?

Thanks

[2016-01-14 22:10] dadoonet commented on #263
As stated in the README, read https://www.elastic.co/guide/en/elasticsearch/plugins/current/cloud-aws.html

[2016-01-14 22:10] #263 closed

[2016-01-22 23:32] k2xl opened #264 "Changing AWS Credentials"
Question:
What's the recommended way to change the AWS credentials? Right now using env variables, but it looks like the plugin uses them on startup. Is there a way to POST new credentials, uninstall/reinstall the plugin in realtime? What's the best way?

[2016-01-23 01:37] dadoonet commented on #264
You have to restart. Read this https://github.com/elastic/elasticsearch-cloud-aws/issues/260

[2016-01-23 01:37] #264 closed

[2016-01-30 12:29] karanpande opened #265 "aws plugin for elasticsearch 2.0"
the old plugin does not work with elasticsearch 2.0

[2016-01-30 14:02] dadoonet commented on #265
Read the README. First lines

[2016-01-30 14:02] #265 closed

[2016-02-04 18:49] awislowski commented on #255
My PR solves this issue with ceph.

[2016-02-04 20:11] rjernst commented on #255
See my comment on the PR.  This PR last year should have fixed the issue: #13360. However, that is marked as 2.1, but I'm not sure it was actually backported. I can't find it anywhere in 2.x. @xuzha Can you check this?

[2016-02-04 20:16] rjernst commented on #255
Oh actually it looks like there was a backport, but it was not exactly the same as master. I think the warning you saw is a red herring, because it is trying to register an already registered type (on master it skips S3SignerType because it has statically registered it).

[2016-02-04 20:31] xuzha commented on #255
In 2.x is slightly different. Taking a look, but I think the `S3SignerType` is the right type to use for ceph .

[2016-02-04 20:39] rjernst commented on #255
I agree it is the right type. But with the 2.x change, it looks like it will still try to register `S3SignerType` even though it is always registered (which gets the IAE and prints the warning).

[2016-02-04 21:32] xuzha commented on #255
See here, https://github.com/elastic/elasticsearch/blob/2.1/plugins/cloud-aws/src/main/java/org/elasticsearch/cloud/aws/AwsSigner.java#L53-L60

The warning is actually don't stop user to setup the `S3SignerType`, we just overwrite the Signer by calling `configuration.setSignerOverride(signer)`. It is not register it, right ?

[2016-02-05 19:55] awislowski commented on #255
true, aws sdk java 1.10.33 (which is used now) is registering it.

[2016-02-10 00:09] matteomelani commented on #194
+1.

[2016-02-11 22:22] vsingh22 opened #266 "Elasticsearch 1.7 failed "error":"AmazonS3Exception"
curl -XPUT 'http://localhost:9200/_snapshot/my_cluster1_repository' -d '{
  "type": "s3",
  "settings": {
    "bucket": "my-backup",
    "region": "us-east",
    "base_path": "my_backup/",
    "compress": true,
    "access_key": "",
    "secret_key": ""
  }
}'

I do not have delete permission and I cannot get it also. Is there anyway to set the policy with only readonly option? I will really appre

[2016-02-12 01:28] dadoonet commented on #266
Please ask questions on discuss.elastic.co.

Readonly parameter has been introduced but IIRC it's only available from 2.1.

[2016-02-12 01:28] #266 closed

[2016-02-16 09:18] jindov commented on #255
As you explain above, I cannot use s3 ceph to store my snapshot with this s3 repository plugin?
I've upgraded to the latest version of elasticsearch, 2.2

[2016-02-16 20:18] zukeru opened #267 "Elasticsearch 2.2.0 installation error"
I am trying to install the cloud plugin with the latest version of elasticsearch 2.2.0. However, I'm getting an error when I try to install it:

`: ERROR: Could not find plugin descriptor 'plugin-descriptor.properties' in plugin `

Here is the command I'm running to install it:
[code]

I found someone who said there was a method to fix it:

[code]

does anyone know how else to do this? I would rea

[2016-02-17 02:06] dadoonet commented on #267
Have a look at the very first lines of the README. You'll find a link to docs for 2.x.

[2016-02-17 02:06] #267 closed

[2016-02-20 18:32] rodriguezsergio commented on #233
Any chance this fix will be applied to java version "1.8.0_73" ?

[2016-02-21 14:48] dadoonet commented on #233
@rodriguezsergio 2.4.3 won't be released so you have two options IMO:

* Upgrade elasticsearch to 1.7 and aws plugin to 2.7.1 (best option IMO)
* build yourself branch `es-1.4` and install the plugin from `target` dir

Also, you could think of upgrading to 2.x which is even better but requires more work probably on your end.

[2016-02-23 16:48] rodriguezsergio commented on #233
@dadoonet Yeah, we're trying to play catch-up with the Elastic guys. Will upgrade to 1.7. Thanks.

[2016-03-01 17:18] maubarrerag opened #268 "Can't install plugin / No Checksum available"
Hello,

i executed this command to install the plugin:
`bin/plugin install elasticsearch/elasticsearch-cloud-aws/2.7.1`

But i got this error:

Verifying https://download.elastic.co/elasticsearch/elasticsearch-cloud-aws/elasticsearch-cloud-aws-2.7.1.zip checksums if available ...
NOTE: Unable to verify checksum for downloaded plugin (unable to find .sha1 or .md5 file to verify)
ERROR: Could not fi

[2016-03-01 17:31] dadoonet commented on #268
The README says

<img width="772" alt="universalaccessd universalaccessd aujourd hui at 18 30 15" src="https://cloud.githubusercontent.com/assets/274222/13435671/b30714ac-dfdb-11e5-8223-f0f5ee86f8b3.png">

`bin/plugin install cloud-aws` should be fine.

[2016-03-01 17:31] #268 closed

[2016-03-01 18:02] maubarrerag commented on #220
Hi, why don't you use a LifeCycle rule for the bucket with snapshots?

[2016-03-09 15:56] bezalel opened #269 "not working for new AWS region (Seoul, ap-northeast-2)"
not working for new AWS region (Seoul, ap-northeast-2)

[2016-03-09 15:58] dadoonet commented on #269
The plugin is not maintained anymore here (only bugs will be fixed).
Could you open this feature request at https://github.com/elastic/elasticsearch where the code now lives?

[2016-03-09 15:58] #269 closed

[2016-03-26 12:04] mfcarbo commented on #257
I have a similar issue. I get the acknowledged message but no files, no errors. I am using the IAM role of the instance and am able to copy files to the bucket/prefix.
PUT /_snapshot/backup
{
  "type": "s3",
  "settings": {
    "bucket": "xxxx-xxxx-xxxx-appdata",
    "region": "us-east-1",
    "base_path": "ELASTIC",
    "server_side_encryption": "true"
    }
}

GET _snapshot/backup/_all
{
   "sna

[2016-03-26 18:33] xuzha commented on #257
have you created the bucket before create the repo?

[2016-03-26 18:49] mfcarbo commented on #257
Yes, another team creates the buckets.

[2016-03-31 20:42] mfcarbo commented on #257
I have added this to the yaml but still no files in s3 or errors.
cloud:
    aws:
        s3:
            protocol: https
            proxy:
                port: 3128
                host: awsproxy

[2016-04-01 20:53] gcherneski opened #270 "ERROR: Guice Exception: java.lang.IllegalStateException: This is a proxy used to support circular references involving constructors. The object we're proxying is not constructed yet. Please wait until after injection has completed to use this object."
Running elasticsearch2.3.0 with jdk1.8.0_77 and the following cloud-aws plugins:
cloud-aws-2.3.0.jar
httpcore-4.3.3.jar
httpclient-4.3.6.jar
aws-java-sdk-core-1.10.33.jar
aws-java-sdk-kms-1.10.33.jar
aws-java-sdk-ec2-1.10.33.jar
commons-codec-1.6.jar
jackson-annotations-2.5.0.jar
aws-java-sdk-s3-1.10.33.jar
commons-logging-1.1.3.jar
jackson-databind-2.5.3.jar
I get the error:
[2016-04-01 20:16:47,

[2016-04-01 21:00] dadoonet commented on #270
Thanks but wrong repo. Can you open it on elasticsearch project please?

[2016-04-01 21:00] #270 closed

[2016-04-14 22:26] sjernigan opened #271 "AWS authentication requires a valid Date or x-amz-date header"
Version 2.3.0 of the plugin.
I can create a repo successfully but when I try to create a snapshot, I get the stack trace below.  I believe bucket and IAM roles/policies are correct.  I've enabled bucket logging but haven't seen anything yet.  Any thoughts?

[snapshots                ] [Gabriel Summers] failed to create snapshot [aws_backup2:snapshot_1]
org.elasticsearch.snapshots.SnapshotCreationE

[2016-04-15 15:50] sjernigan commented on #271
see this issue #https://github.com/elastic/elasticsearch-cloud-aws/issues/233

[2016-04-21 08:30] kamalsint opened #272 "java.lang.NoClassDefFoundError: org.apache.http.util.Args"
I am getting this error while i try to upload any image file. Previously it was working fine but all of a sudden i am getting this below error and my app crashes.

E/AndroidRuntime: FATAL EXCEPTION: main
                                                                    java.lang.NoClassDefFoundError: org.apache.http.util.Args

[2016-04-21 08:34] dadoonet commented on #272
Not related to elasticsearch I think.

[2016-04-21 08:34] #272 closed

[2016-05-06 01:01] geekpete commented on #220
Hi Team,

See also this discussion: https://github.com/elastic/elasticsearch/issues/12500

And this pull request which has been merged: https://github.com/elastic/elasticsearch/pull/13656

[2016-05-06 07:00] Dinoshauer commented on #220
It was about moving existing snapshots to glacier, yes :)

[2016-05-06 07:02] #220 closed

[2016-05-24 23:00] tylerfontaine opened #274 "Allow Other methods of s3 server-side encryption"
Currently, by setting server_side_encryption to true, the only method that is allowed is aes256. It would be great if we could specify other s3 encryption methods, e.g. aws:kms.

For aws:kms, if the bucket has a default key, it's just a matter of including the correct header, so one possibility may be an additional parameter to specify the value of the `x-amz-server-side-encryption` header to get

[2016-05-25 02:22] dadoonet commented on #274
Hey Tyler

Could you open this feature request in Elasticsearch repo where this plugin moved now?

[2016-05-25 02:22] #274 closed

[2016-06-25 14:16] datvikash opened #275 "With a large number ec2 instances ec2 discovery times out"
It seems with a large number of ec2 instances within a region, the ec2 discovery plugin will timeout

[code]

It would be great if we can configure this timeout either through environmental variables of system properties.

[2016-06-25 15:59] dadoonet commented on #275
Thanks for reporting.
Could you open this in Elasticsearch repo?

What is your version?
How many Elasticsearch nodes you have?
Do you use filtering to only get back Elasticsearch instances related to your project?

[2016-06-25 16:05] datvikash commented on #275
I can open it in the elastic search repo, but I do think the issue lies with the aws ec2 discovery plugin. When I run the command:

    aws ec2 describe-instances --region=us-east-1

on one of the ec2 instances within the cluster I do see a very large response time, on the order of 15-20 seconds. I'm guessing that with large node counts, the response time from this command goes up, so it would be

[2016-06-25 16:27] dadoonet commented on #275
This plugin don't live here anymore from 2.0.

[2016-06-25 16:29] dadoonet commented on #275
IIRC filtering applies on AWS side so my guess is that you'll get back less instances.
20 nodes is a small number. Wondering why you have so bad response time.

[2016-07-04 12:05] dadoonet commented on #257
@mfcarbo @darylyu Did you manage solving your issue?

[2016-07-07 09:30] darylyu commented on #257
Nope. Ended up using a different tool.

[2016-07-07 09:36] dadoonet commented on #257
@darylyu Did you backup "manually" your shards on S3? Like with rsync or such? I'm curious about what you used.

[2016-07-07 12:22] mfcarbo commented on #257
@dadoonet I have not been able to solve. In the short term I may need to set up an nfs mount and do the filesystem backup. But this is not ideal in AWS. I am playing around with v5 alpha next sprint and will see if the backup works with it.

[2016-07-14 10:56] elipapa opened #276 "cryptic AccessControlException"
When running ES within a docker container, the AWS cloud plugin occasionally throws an exception

[code]

Despite this, the plugin and the ES cluster appear to recover. Thought I would flag the problem up even though it's not ultimately affecting my use case.

[2016-07-14 11:00] dadoonet commented on #276
My guess is that you are using Elasticsearch 2.x.

So this is the wrong repo for this as written in the README.

Closing but feel free to reopen if you are using Elasticsearch < 2.0

[2016-07-14 11:00] #276 closed

[2016-08-02 10:52] bvorosadmin opened #277 "EC2 discovery does not work in us-west-2 (ES 1.7.5 plugin 2.7.1)"
Hello,

I have been using the EC2 discovery plugin successfully in eu-west-1 (Ireland) without any issues.
However, in us-west-2 (Oregon) it would only work intermittently until last week when it stopped completely.

Everything is set up the same way. There is an IAM role created with the allow describe-instances policy.

The aws cli command on the instance works and the response is fast.

aws ec2

[2016-08-02 11:03] dadoonet commented on #277
You could try to put `discovery` and `cloud` packages to `TRACE` in `logging.yml`. May be it will give some clues?

If it does not add traces, try with `org.elasticsearch.discovery` and `org.elasticsearch.cloud`.

[2016-08-02 11:39] bvorosadmin commented on #277
Thanks a lot for the quick response.
This can now be closed. It was human error. Typo in elasticsearch.yml.
I am sorry.
As a result discovery was runing with default values that worked in the EU region but not in Oregon.

The discovery statements were missing the "**ec2**" bit.

All is well with the correct settings:
bootstrap.mlockall: true
discovery.zen.ping.multicast.enabled: false
cluster.name

[2016-08-02 11:40] dadoonet commented on #277
I see. Thanks for the follow up.
BTW next time please use discuss.elastic.co instead.

[2016-08-02 11:40] #277 closed

[2016-08-05 10:06] michalzubkowicz commented on #255
Same question here. Anyone have backup to cloud working with S3SignerType with ES 2.2.1 or 2.3.5?
In both I have "[S3SignerType] may not be supported" and amazonaws.services.s3.model.AmazonS3Exception: Gateway Time-out (Service: Amazon S3; Status Code: 504; Error Code: 504 Gateway Time-out; Request ID: null), S3 Extended Request ID: null

[2016-08-31 16:22] flybd5 commented on #253
This whole business of registering S3 buckets appears to be totally screwed up at AWS. People have been reporting problems since May and they're not responding to the issues on a timely basis.

[2016-10-11 00:00] wtfiwtz commented on #257
Looks like you need a snapshot name! e.g. `PUT /_snapshot/s3_repository/snapshot1`

After that, the upload sprung to life...

Using node.js on Lambda:

[code]

... with this JSON:

[code]

This document on logging was also useful:

https://www.elastic.co/blog/elasticsearch-logging-secrets

Cheers,
Nigel (@wtfiwtz)

[2016-10-25 11:55] smjgithub opened #278 "Plugin does not handle 302 redirect correctly"
AWS Cloud plugin does not seem to correctly handle a 302 Redirect when encountered on the S3 end-point

Not sure if this is a bug or that perhaps we should access the end-point via a proxy of some sort?

Below is the error from the ES log when attempting to create a new S3 repo...

The S3 repo service is actually provided by IBM CleverSafe and should be fully S3 compliant.

Accessing the service d

[2016-10-25 13:49] dadoonet commented on #278
Can't you define `cloud.aws.s3.endpoint` in such a case?
See https://github.com/elastic/elasticsearch-cloud-aws/tree/v2.7.1/#using-other-s3-endpoint

[2016-10-25 13:56] smjgithub commented on #278
Yes, I am defining the S3 end-point but that is an internal DNS address which responds with a redirect.

To allow the owner of that end-point to point somewhere else in the event of system outages I guess only way is to implement some sort of proxy between the AWS Cloud plugin and the S3 end-point so handle the redirect?

If I use the IP of the S3 service directly then it works but they'd prefer m

[2016-10-25 14:04] dadoonet commented on #278
Yes. Actually we are using AWS SDK here which apparently does not support that.
Unless there is a magical knob I did not see :)

Thinking out loud: may be this is something which can be reported in [AWS SDK project](https://github.com/aws/aws-sdk-java) instead?

[2016-10-25 14:10] smjgithub commented on #278
Yes, that seems to make sense! Is that something that you could raise there citing this ticket as a 'use case' calling for it?

[2016-10-25 14:17] smjgithub commented on #278
I'm not familiar with the AWS SDK and only use the plugin so perhaps this additional feature request would be best explained by a developer?

[2016-10-25 15:16] dadoonet commented on #278
BTW do you have in logs the full stack trace?

[2016-10-25 15:17] smjgithub commented on #278
Is this what you're after?

1) Error injecting constructor, com.amazonaws.services.s3.model.AmazonS3Exception: Found (Service: Amazon S3; Status Code: 302; Error Code: 302 Found; Request ID: null), S3 Extended Request ID: null
  at org.elasticsearch.repositories.s3.S3Repository.<init>(Unknown Source)
  while locating org.elasticsearch.repositories.s3.S3Repository
  while locating org.elasticsearch

[2016-10-25 15:18] dadoonet commented on #278
I opened https://github.com/aws/aws-sdk-java/issues/903. Will see what is the outcome of this.
For now, you need to define the right endpoint.

Please note that this repo is now deprecated and will only get bug fixes.
New features will only go to elasticsearch repo.

[2016-10-25 15:25] smjgithub commented on #278
OK, great! thanks for following up on this...

I spoke to the internal provider of our S3 repo and he said that others are using the AWS SDK and they have worked around this 302 redirect problem so I will see if I can find any more info and pass it on if I do...

[2016-10-25 15:37] dadoonet commented on #278
A guess is that we check manually this URL and if we get a redirect we change the configuration you defined with the new URL.
But IMO this is something that should be supported by the SDK.

[2016-10-27 15:18] dadoonet commented on #278
So AWS team rejected the feature request for the reasons they exposed there: https://github.com/aws/aws-sdk-java/issues/903

I'm not sure if we want to implement such a thing on our side and I believe we don't want to make the code more complex.

@tlrx WDYT?

[2016-10-27 15:23] smjgithub commented on #278
Fair enough, I've got the end-point hard-coded to the S3 service IP at the moment and working fine.

I guess the proxy approach is still an option if we choose to go down that route.

Thanks for your persistence in following this up :)

[2016-11-03 09:46] tlrx commented on #278
If I understand correctly, the IBM CleverSafe S3 implementation sends redirections to the client but the AWS SDK team indicates that `it is not part of the service contract in AWS to send redirect responses`?

If that's correct then I don't think we should implement such a thing on plugin's side.

[2016-11-03 09:47] dadoonet commented on #278
Thanks Tanguy. We are on the same page.
Closing

[2016-11-03 09:47] #278 closed, assigned to nobody

[2016-11-03 09:57] smjgithub commented on #278
Thanks (Tan)guys! Best to stick to AWS contract...

[2016-11-13 23:58] nextofsearch opened #279 "Discovery takes more than 3 minutes"
Hi,

ES 1.1 and plugin 2.11
Discovery takes more than 3 mins. Please refer to the following log:

[2016-11-13 22:53:10,214][INFO ][node                     ] [ES#5] starting ...
[2016-11-13 22:53:10,441][INFO ][org.eclipse.jetty.server.Server] jetty-8.1.0.v20120127
[2016-11-13 22:53:10,518][INFO ][org.eclipse.jetty.server.AbstractConnector] Started SelectChannelConnector@0.0.0.0:9091
[2016-11-13 2

[2016-11-26 09:04] dadoonet commented on #279
Is the machine `10.0.0.54` actually running elasticsearch?

[2016-11-29 23:06] sanvir10 opened #280 "Can't create discovery cluster on region us-east2"
In Amazon recently we can create instances on region us-east2, but when a set it in the config i get this error:

![captura de pantalla de 2016-11-29 17-03-52](https://cloud.githubusercontent.com/assets/12051806/20732816/09bc64fe-b656-11e6-9c65-a5e46e8c5947.png)

This region will be supported?,

regards.

[2016-11-30 10:01] dadoonet commented on #280
Yes `us-east2` is not supported for this version of the plugin. See https://github.com/elastic/elasticsearch-cloud-aws/tree/v2.7.1/#region

You can manually define `cloud.aws.ec2.endpoint` though to something like `ec2.us-east-2.amazonaws.com`. That should work I believe. See https://github.com/elastic/elasticsearch-cloud-aws/tree/v2.7.1/#using-other-ec2-endpoint

I opened https://github.com/elast

[2016-11-30 10:01] #280 closed, assigned to nobody

[2016-11-30 17:46] sanvir10 commented on #280
I added this :
cloud.aws.ec2.endpoint: ec2.us-east-2.amazonaws.com

the config look like this;

cloud.aws.access_key: [KEY]
cloud.aws.secret_key: [SECRET]
cluster.name: mycluster
node.name: elastic1

discovery.type: "ec2"
discovery.zen.ping.multicast.enabled: false
discovery.ec2.groups: "securityTest"
discovery.ec2.host_type: "private_ip"
discovery.ec2.ping_timeout: "30s"
discovery.ec2.tag.cluster

[2016-11-30 20:06] dadoonet commented on #280
Can you paste the full log please?

[2016-11-30 20:55] jogura-zz commented on #255
I'm currently using ES 2.4.1 with cloud-aws plugin version:
[code]

After some digging it seems that the correct signer is: `S3SignerType` (at least with this current configuration)

I'm able create the repository but it always fails verification with the following error:

[code]

The bucket exist check succeeds with response `200` however the `PUT` fails with a `403`.

Is this a plugin issue or i

[2016-11-30 21:35] sanvir10 commented on #280
Sorry this is working now, was a mistake in the config with the group-security name.

Thanks so much

[2016-11-30 21:52] dadoonet commented on #280
Great!

[2016-12-05 10:22] jamesgraham opened #281 "Support us-east-2"
Hi,

Do you have any plans to support this new region?

[2016-12-05 10:23] dadoonet commented on #281
It has just been merged some seconds ago in master and 5.x branches: https://github.com/elastic/elasticsearch/pull/21961

:)

[2016-12-05 10:23] #281 closed, assigned to nobody

[2016-12-09 13:46] Nr18 opened #282 "Is AWS KMS supported or plans to support?"
I have set server_side_encryption to true and i now i have AES256 encryption but i would like to use my own key using KMS, is this supported or are there plans to support this in the future?

[2016-12-09 14:14] dadoonet commented on #282
It's a duplicate of https://github.com/elastic/elasticsearch/issues/18561 which is waiting for a dev :)

[2016-12-09 14:14] #282 closed, assigned to nobody

[2016-12-22 10:28] dadoonet commented on #255
As @jogura confirmed (and thanks a lot for the update), it seems that CEPH can be used with S3 plugin.
So I'm closing this issue.

[2016-12-22 10:28] #255 closed

[2017-01-25 02:22] RomanMauricio opened #283 "No automatic endpoint could be derived from region [us-east-2]"
The region in CMH (Ohio) does not appear to be recognized

[2017-01-25 06:05] dadoonet commented on #283
Which version?

[2017-01-25 07:16] RomanMauricio commented on #283
I tested it on 2.4.3 and 2.4.4

[2017-01-25 07:17] RomanMauricio commented on #283
I got around the problem by specifying cloud.aws.ec2.endpoint: ec2.us-east-2.amazonaws.com

[2017-01-25 07:30] dadoonet commented on #283
Exactly. Note that this has been added in 5.2: https://github.com/elastic/elasticsearch/pull/21961
Also note that the repo is now living at https://github.com/elastic/elasticsearch as explained in the README.

[2017-01-25 07:30] #283 closed, assigned to nobody

[2017-02-13 05:29] Balamurali10 opened #284 "Issue in Snapshot taking"
Hi all,

while taking snapshot in s3 repo, getting below expections

{"error":"RemoteTransportException[[nodename][inet[/ip:port]][cluster/snapshot/create]]; nested: SnapshotCreationException[[my_s3_repository:snapshot_1] failed to create snapshot]; nested: IOException[Failed to get [snapshot-snapshot_1]]; nested: AmazonS3Exception[AWS authentication requires a valid Date or x-amz-date header (Ser

[2017-02-13 06:58] dadoonet commented on #284
This repo is now closed. Please ask on discuss.elastic.co with all details like versions (jvm, elasticsearch)

[2017-02-13 06:58] #284 closed, assigned to nobody

[2017-02-14 21:35] jeffb-stell commented on #253
This might be due to the API not accepting us-east-1 for a region: https://github.com/boto/boto3/issues/125 (there was also an issue opened for the javascript aws sdk)

[2017-02-28 10:39] chaitu0292 opened #285 "repository_verification_exception on aws s3"
Hi There,
I am running ES 2.4.2 and used bin/plugin install cloud-aws to install aws plugin.
Ours is a cluster setup with 5-hot(data),3-master,3-client and 2-warm(data) nodes
So when I tried to register a S3 repository am getting below error.
Command Used:
curl -XPUT 'http://localhost:9200/_snapshot/s3_dev_backup' -d '{
    "type": "s3",
    "settings": {
        "access_key": "<********>",

[2017-02-28 11:03] dadoonet commented on #285
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

BTW this repository is now deprecated as it applied only up to 1.7 series.

[2017-02-28 11:03] #285 closed, assigned to nobody

[2017-03-09 08:45] dadoonet commented on #279
No news on that. Closing. Feel free to open a discussion on discuss.elastic.co if you still have this problem.

[2017-03-09 08:45] #279 closed, assigned to dadoonet

[2017-04-13 10:27] cpeeyush commented on #142
hit the same bug today in a very old es cluster. This post saved my time . Thanks 👍

[2017-05-02 04:44] marcus-EIP opened #286 "Not supporting "Asia Pacific (Seoul) : ap-northeast-2" region"
Currently cloud-aws is not supporting "Asia Pacific (Seoul) : ap-northeast-2" region.
Is there any workaround?

[2017-05-02 05:04] dadoonet commented on #286
This repo is not supported anymore. It was for elasticsearch <= 1.7.*

That said look at the endpoint setting.

[2017-05-02 05:04] #286 closed, assigned to nobody

[2017-07-03 17:20] n0othing opened #287 "Document max_snapshot_bytes_per_sec and max_restore_bytes_per_sec as available settings for S3 repositories"
The [S3 Repository](https://www.elastic.co/guide/en/elasticsearch/plugins/5.4/repository-s3-repository.html) section of the docs doesn't list `max_snapshot_bytes_per_sec` or `max_restore_bytes_per_sec` as valid settings. The current [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/modules-snapshots.html#_shared_file_system_repository) might suggest those settings are exc

[2017-07-03 18:39] dadoonet commented on #287
Hey Robbie. This repo is now closed as per README: https://github.com/elastic/elasticsearch-cloud-aws

Could you reopen that in elasticsearch repo instead?

[2017-07-03 18:39] #287 closed, assigned to nobody

[2017-07-03 18:42] n0othing commented on #287
whoops! :) https://github.com/elastic/elasticsearch/issues/25522

[2017-09-07 10:39] sukantasaha opened #288 "When can you support aws mumbai region"
Hi we have launched es cluster in aws mumbai (ap-south-1) region with es 1.4 version, but do not see elasticsearch-cloud-aws supports ap-south-1 region.

When can we expect this

[2017-09-07 20:15] dadoonet commented on #288
This repository is not live anymore as stated in the README.
Note that in 6.0 `region` setting has been removed. You need to use now the `endpoint` setting instead. Which you can also do with previous versions of the plugin. That means that you have a workaround to support `ap-south-1`.

BTW 1.7 is not supported anymore. So 1.4 neither. It's really urgent that you upgrade!

[2017-09-07 20:15] #288 closed, assigned to nobody

[2017-10-12 19:32] danielpops commented on #209
@ikoniaris, FYI I had the same issue, and this ended up being caused by pollution of the classpath with some older version of the HttpCore library coming from a custom java module in the cluster used for some custom logging solution.

To come to this conclusion, I observed that the cloud-aws plugin could be installed and function correctly in a vanilla elasticsearch docker container, and then I co

[2017-11-06 20:16] johnakash opened #290 "CloudTrail"
Hey team,

Do we have a solution to push all cloudtrail data from AWS accounts to ES5.6 with out any failure. We are looking for a lambda function to push the data (python code)

[2017-11-06 20:25] dadoonet commented on #290
As per readme this repo is now closed.

Ask on discuss.elastic.co please.

[2017-11-06 20:25] #290 closed, assigned to nobody

[2017-12-07 09:33] mudgilgaurav opened #291 "Adding S3 bucket for snapshot"
I am trying to add S3 bucket for taking snapshot of my elastic cluster. I am running Elasticsearch 2.3.3 and installed plugin cloud-aws. Following is syntax of my request

curl -X POST "http://XXX.XXX.XXX.XXX:9200/_snapshot/s3_repository" -d '{"type": "s3","settings":{"bucket":"bucketname","region":"ap-south-1","access_key":"accesskey","secret_key":"secretkey","endpoint":"s3.ap-south-1.amazonaws.c

[2017-12-07 09:34] dadoonet commented on #291
This repository is now closed.

Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-12-07 09:34] #291 closed, assigned to nobody

[2017-12-07 09:39] mudgilgaurav commented on #291
@dadoonet thanks for quick response. Added my question on discuss.elastic.co.

[2017-12-12 22:26] arispeng opened #292 "[s3_repository] path is not accessible on master node"
My elasticsearch 2.4.6 cluster (hosted on amazon east data center) is having issues with the aws-cloud 2.4.6 plugin, I have configured my elasticsearch.yml file as instructed by configuration .
cloud:
  aws:
    access_key: XXX
    secret_key: XXX
The S3 bucket is set up to have s3Full access.
I did a testing before my elasticsearch cluster upgrade, which was 1.7.6 version using aws-cloud plugin f

[2017-12-13 03:12] dadoonet commented on #292
As per README this repository is now closed.
Please ask on discuss.elastic.co.

[2017-12-13 03:12] #292 closed, assigned to nobody

[2017-12-21 20:37] chaitu0292 opened #293 "SnapshotMissingException"
SnapshotMissingException[[s3full:201608151615] is missing]; nested: FileNotFoundException[Blob object [snapshot-201608151615] not found: The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: 1B6FB23C4BC5940D)];

Elasticsearch Version: 5.5.0

[2017-12-21 20:38] dadoonet commented on #293
This repository is now closed. Please ask on discuss.elastic.co

[2017-12-21 20:38] #293 closed, assigned to nobody

[2017-12-21 20:39] chaitu0292 commented on #293
Am sorry I did not understand what do you ment by 'repository is now closed'. @dadoonet

[2017-12-21 21:35] dadoonet commented on #293
Read the first lines of the README.

[2018-01-22 13:42] mfreebairn-r7 opened #294 "ignore"

[2018-01-22 13:43] #294 closed, assigned to nobody

[2018-02-02 09:30] nitishgoyal13 opened #295 "Timeout exception elastic search while using bulkAPI"
Migrating the cluster from es 1.4 to 5.4.
Getting the below error frequently while migrating
Caused by: org.elasticsearch.common.util.concurrent.UncategorizedExecutionException: Failed execution
at org.elasticsearch.action.support.AdapterActionFuture.rethrowExecutionException(AdapterActionFuture.java:92)
at org.elasticsearch.action.support.AdapterActionFuture.actionGet(AdapterActionFuture.java:50)

[2018-02-02 11:44] dadoonet commented on #295
Not related to this plugin which is not maintained here anymore btw.

Open a question on discuss.elastic.co instead.

[2018-02-02 11:44] #295 closed, assigned to nobody

[2018-02-12 07:00] vagdevipedalenka opened #296 "Getting InvalidLocationConstraint while creating the bucket in US_EAST_1 region"
Please help me to solve this issue,

I am getting following error while creating the bucket.
 Code: Create bucket in US_EAST_1 region
            AmazonS3Client m_s3Client;
            CreateBucketRequest obj = new CreateBucketRequest("example_bucket");
           Bucket bucket = m_s3Client.createBucket(obj);

Note:  I am not passing the region name while creating the bucket:

Error:
CreateBucket

[2018-02-12 09:03] dadoonet commented on #296
Not related to elasticsearch.

[2018-02-12 09:03] #296 closed, assigned to nobody

[2018-04-18 02:23] ppf2 commented on #149
http://docs.aws.amazon.com/AWSSdkDocsJava/latest/DeveloperGuide/section-client-configuration.html
Like what we are doing in elastic/elasticsearch#15080 for azure.

Closing the loop here (timeout settings for AWS, please track this ticket):  https://github.com/elastic/elasticsearch/issues/15854

[2018-06-02 12:42] gundubandagar commented on #200
compile('com.omertron:themoviedbapi:4.2') {
        exclude group: 'org.apache.httpcomponents', module: 'httpclient'
        exclude module: 'junit'
    }

[2018-06-21 04:53] mmedin commented on #244
Hey @hernan82arg: You have a small indentation or level error in your config. It's "discovery.ec2.groups", not "discovery.groups". The correct config is:

[code]

[2018-09-01 13:46] bnm22 commented on #271
+1

[2018-10-24 08:06] tlrx commented on #211
Closing, too old.

[2018-10-24 08:06] #211 closed

[2019-06-06 16:51] tsully193 opened #298 "Enable whitelisting of a email domain opposed to having to do so for each email address"
Currently for any Elastic Cloud customer that wants to get email alerts via watchers they have to be added one by one manually. This can be a largely tedious process for an entire company. A way to be able to whitelist a specific domain via something like "*@blah.com" would be very useful

[2019-06-06 16:58] dadoonet commented on #298
This used to be a repository for an elasticsearch plugin which was doing discovery on EC2.
Not related to cloud.elastic.co in any way.

Could you contact the cloud support team instead?

[2019-06-06 16:58] #298 closed, assigned to nobody

[2019-06-06 17:06] tsully193 commented on #298
Hey @dadoonet support actually directed me to open a feature issue. Support ticket #00348407. I also specifically asked which repo because none of them seemed appropriate, and they said this one.

[2019-06-06 17:10] dadoonet commented on #298
Ok. Let me chat with the support team.

[2019-09-04 02:22] Leaf-Lin commented on #154
Does anyone know if cloud-aws can also cause long old gc like this:

[2020-02-19 01:02] kaushiksriram100 opened #300 "Error while registering repo"
Apologies first, I am aware that the plugin versions here are very old. Unfortunately we have an old version of ES in production and I need to take some snapshots.

ES Version: 1.7.3
Snapshot Plugin version: 2.7.1

When registering the repo, I get this error - any pointers will help.

[code]

[2020-02-19 03:03] dadoonet commented on #300
Wild guess from what I can remember but may be the embedded AWS Client is not compatible anymore with the current version of AWS API?
Just a guess though.

Yeah we don't maintain version before 6.x...
So I'm closing. Feel free to add questions on discuss.elastic.co.

[2020-02-19 03:03] #300 closed, assigned to nobody

[2020-05-06 08:08] okailiang commented on #247
Please check the S3 plugin is installed successfully?
curl http://1ocalhost:9200/_cat/plugins?v
`name   component version type url`
`node-t cloud-aws NA      s    /_plugin/cloud-aws/ `

the version is NA，uninstall then select right version to install。
the result is ok!
`name   component version type url `
`node-t cloud-aws 2.7.1   j     `

[2020-08-12 08:37] debu99 commented on #247
please restart ES after you install the plugin

[2022-03-21 11:57] #76 closed

[2022-06-23 19:35] 3uzbcqje commented on #298
So, what was the solution? I have the same problem?

[2022-06-23 19:35] 3uzbcqje commented on #298
Nevermind, I have the problem in elastic.co, not on AWS...

[2022-07-15 12:00] hyper750 opened #301 "Version of AWS SDK should be updated"
According to https://aws.amazon.com/blogs/developer/tls-1-3-incompatibility-with-aws-sdk-for-java-versions-1-9-5-to-1-10-31/ AWS SDK should be updated to 1.12.x or 2.x. Right now the plugin is using AWS SDK 1.10.12 version https://github.com/elastic/elasticsearch-cloud-aws/blob/v2.7.1/pom.xml#L35

[2022-07-19 10:32] dadoonet commented on #301
Hey! As stated in the [README](https://github.com/elastic/elasticsearch-cloud-aws), this project has moved.
It was up to version 1.x which is not maintained anymore.

But thanks for the effort of providing a fix.

[2022-07-19 10:32] #301 closed, assigned to nobody

[2022-07-19 11:19] hyper750 commented on #301
Hi, thanks for the response but I need the solution anyways, since I'm using elasticsearch 1.7.

[2022-08-03 05:14] #257 closed